Repository nestrilabs/nestri, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dev-team, @victorpahuus, @AquaWolf, @wanjohiryan, @DatCaptainHorse

.github/CODEOWNERS:

* @dev-team

/apps/ @victorpahuus @AquaWolf
/packages/ui/ @wanjohiryan @victorpahuus @AquaWolf

/protobuf/ @AquaWolf

/infra/ @wanjohiryan
/packages/core/ @wanjohiryan
/packages/functions/ @wanjohiryan

/containers/ @DatCaptainHorse
/packages/server/ @DatCaptainHorse
/packages/relay/ @DatCaptainHorse
/packages/scripts/ @DatCaptainHorse
/packages/input/ @DatCaptainHorse

fix: Fix the reviews
  packages/core/src/client/index.ts
  packages/core/src/client/types.ts
  packages/core/src/client/utils.ts
  packages/core/src/credentials/credentials.sql.ts
  packages/core/src/credentials/index.ts
  packages/functions/src/api/steam.ts
  packages/functions/src/events/index.ts
Owners: @wanjohiryan

fix: Fix the schema
  packages/core/src/client/utils.ts
  packages/functions/src/events/index.ts
  packages/zero/schema.ts
Owners: @wanjohiryan, @dev-team

fix: Use a background job
  packages/core/src/client/utils.ts
  packages/functions/src/api/steam.ts
Owners: @wanjohiryan

fix: Use a cleaner promise
  packages/functions/src/api/steam.ts
Owners: @wanjohiryan

fix: For realtime
  packages/functions/src/api/index.ts
Owners: @wanjohiryan

fix: Add it as type
  packages/functions/src/api/index.ts
Owners: @wanjohiryan

fix: Add stuff
  packages/functions/src/events/index.ts
  packages/www/src/providers/zero.tsx
Owners: @wanjohiryan, @dev-team

fix: Add the SteamEncryption key
  infra/bus.ts
  infra/steam.ts
  packages/functions/src/api/steam.ts
Owners: @wanjohiryan

fix: Add controller support
  packages/core/src/client/index.ts
  packages/functions/src/api/game.ts
  packages/functions/src/api/steam.ts
  packages/functions/src/auth/index.ts
Owners: @wanjohiryan

fix: Add some more
  packages/core/src/team/index.ts
  packages/functions/src/api/steam.ts
  packages/functions/src/api/team.ts
Owners: @wanjohiryan

fix: Add stuff
  packages/core/src/team/index.ts
  packages/functions/src/api/steam.ts
  packages/www/src/App.tsx
  packages/www/src/assets/games/1.png
  packages/www/src/assets/games/10.png
  packages/www/src/assets/games/11.png
  packages/www/src/assets/games/12.png
  packages/www/src/assets/games/13.png
  packages/www/src/assets/games/14.png
  packages/www/src/assets/games/15.png
  packages/www/src/assets/games/16.png
  packages/www/src/assets/games/17.png
  packages/www/src/assets/games/18.png
  packages/www/src/assets/games/19.png
  packages/www/src/assets/games/2.png
  packages/www/src/assets/games/20.png
  packages/www/src/assets/games/21.png
  packages/www/src/assets/games/22.png
  packages/www/src/assets/games/23.png
  packages/www/src/assets/games/24.png
  packages/www/src/assets/games/25.png
  packages/www/src/assets/games/26.png
  packages/www/src/assets/games/27.png
  packages/www/src/assets/games/28.png
  packages/www/src/assets/games/29.png
  packages/www/src/assets/games/3.png
  packages/www/src/assets/games/30.png
  packages/www/src/assets/games/4.png
  packages/www/src/assets/games/5.png
  packages/www/src/assets/games/6.png
  packages/www/src/assets/games/7.png
  packages/www/src/assets/games/8.png
  packages/www/src/assets/games/9.png
  packages/www/src/pages/team/header.tsx
  packages/www/src/pages/team/home.tsx
  packages/www/src/pages/team/index.tsx
  packages/www/src/pages/team/library.tsx
  packages/www/src/pages/team/steam.tsx
  packages/www/src/providers/steam.tsx
  packages/www/src/ui/layout.tsx
Owners: @wanjohiryan, @dev-team

feat: Something
  packages/core/src/credentials/index.ts
  packages/core/src/team/index.ts
  packages/www/src/pages/team/library.tsx
Owners: @wanjohiryan, @dev-team

🐜 fix(runner): Improve NVIDIA driver handling, switch to gamescope
  containers/runner.Containerfile
  packages/scripts/entrypoint.sh
  packages/scripts/entrypoint_nestri.sh
  packages/scripts/envs.sh
  packages/server/src/gpu.rs
Owners: @DatCaptainHorse

🐜 fix(www): Fix bg colors on light mode
  packages/www/index.html
  packages/www/src/App.tsx
Owners: @dev-team

🐜 fix(runner): Improve NVIDIA driver handling, switch to gamescope (#279)
  containers/runner.Containerfile
  packages/scripts/entrypoint.sh
  packages/scripts/entrypoint_nestri.sh
  packages/scripts/envs.sh
  packages/server/src/gpu.rs
Owners: @DatCaptainHorse

added initial blog tryings
  apps/blog/.gitignore
  apps/blog/.vscode/extensions.json
  apps/blog/.vscode/launch.json
  apps/blog/README.md
  apps/blog/astro.config.mjs
  apps/blog/bun.lock
  apps/blog/package.json
  apps/blog/public/blog-placeholder-1.jpg
  apps/blog/public/blog-placeholder-2.jpg
  apps/blog/public/blog-placeholder-3.jpg
  apps/blog/public/blog-placeholder-4.jpg
  apps/blog/public/blog-placeholder-5.jpg
  apps/blog/public/blog-placeholder-about.jpg
  apps/blog/public/favicon.svg
  apps/blog/public/fonts/atkinson-bold.woff
  apps/blog/public/fonts/atkinson-regular.woff
  apps/blog/src/components/BaseHead.astro
  apps/blog/src/components/Footer.astro
  apps/blog/src/components/FormattedDate.astro
  apps/blog/src/components/Header.astro
  apps/blog/src/components/HeaderLink.astro
  apps/blog/src/consts.ts
  apps/blog/src/content.config.ts
  apps/blog/src/content/blog/first-post.md
  apps/blog/src/content/blog/markdown-style-guide.md
  apps/blog/src/content/blog/second-post.md
  apps/blog/src/content/blog/third-post.md
  apps/blog/src/content/blog/using-mdx.mdx
  apps/blog/src/layouts/BlogPost.astro
  apps/blog/src/pages/about.astro
  apps/blog/src/pages/blog/[...slug].astro
  apps/blog/src/pages/blog/index.astro
  apps/blog/src/pages/index.astro
  apps/blog/src/pages/rss.xml.js
  apps/blog/src/styles/global.css
  apps/blog/tsconfig.json
Owners: @victorpahuus, @AquaWolf

🐜 fix(www): Uncomment the SST parts
  packages/www/src/App.tsx
  packages/www/src/pages/team/index.tsx
Owners: @dev-team

🐜 fix(zero): Fix zero throwing error about tables being undefined
  bun.lock
  infra/zero.ts
  package.json
  packages/www/package.json
  packages/www/src/App.tsx
  packages/www/src/pages/team/index.tsx
  packages/www/src/providers/zero.tsx
  packages/zero/package.json
  packages/zero/schema.ts
Owners: @dev-team, @wanjohiryan

fix: Use json
  packages/www/src/providers/zero.tsx
  packages/zero/schema.ts
Owners: @dev-team

fix: Fix the reviewed code
  packages/www/src/pages/team/index.tsx
  packages/www/src/providers/zero.tsx
Owners: @dev-team

🐜 fix(zero): Fix zero throwing error about tables being undefined (#281)
  bun.lock
  infra/zero.ts
  package.json
  packages/www/package.json
  packages/www/src/App.tsx
  packages/www/src/pages/team/index.tsx
  packages/www/src/providers/zero.tsx
  packages/zero/package.json
  packages/zero/schema.ts
Owners: @dev-team, @wanjohiryan

🐜 fix(zero): Remove unnecessary StorageKey value
  packages/www/src/providers/zero.tsx
Owners: @dev-team

🐜 fix(steam): Fix issues with login and extracting games
  infra/bus.ts
  infra/steam.ts
  packages/core/src/categories/index.ts
  packages/core/src/common.ts
  packages/core/src/steam/index.ts
  packages/functions/src/events/index.ts
  packages/functions/src/queues/library.ts
Owners: @wanjohiryan

fix: Fix manifest issues
  infra/steam.ts
  packages/core/src/client/utils.ts
  packages/functions/src/queues/library.ts
Owners: @wanjohiryan

⭐ feat(runner): DMA-BUF support for Intel/AMD GPUs
  packages/server/.dockerignore
  packages/server/src/main.rs
Owners: @DatCaptainHorse

fix: Remove QR code
  packages/www/src/App.tsx
  packages/www/src/pages/new.tsx
Owners: @dev-team

fix: Add some more
  packages/www/src/pages/new.tsx
Owners: @dev-team

fix: Remove all references to previous stuff
  infra/api.ts
  infra/auth.ts
  infra/bus.ts
  infra/postgres.ts
  infra/secret.ts
  infra/steam.ts
  packages/core/src/credentials/credentials.sql.ts
  packages/core/src/credentials/index.ts
  packages/core/src/drizzle/types.ts
  packages/core/src/examples.ts
  packages/core/src/friend/friend.sql.ts
  packages/core/src/library/library.sql.ts
  packages/core/src/member/member.sql.ts
  packages/core/src/steam/index.ts
  packages/core/src/steam/steam.sql.ts
  packages/core/src/utils/id.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/token.ts
  packages/functions/src/api/steam.ts
  sst-env.d.ts
Owners: @wanjohiryan, @dev-team

fix: Add stuff
  packages/functions/package.json
  packages/functions/src/api/steam.ts
  packages/www/src/App.tsx
  packages/www/src/pages/new.tsx
Owners: @wanjohiryan, @dev-team

Some minor refinements
  packages/server/src/main.rs
Owners: @DatCaptainHorse

⭐ feat(runner): DMA-BUF support for Intel/AMD GPUs (#283)
  packages/server/.dockerignore
  packages/server/src/main.rs
Owners: @DatCaptainHorse

feat: Add some friends info
  bun.lock
  packages/core/package.json
  packages/core/src/client/index.ts
  packages/core/src/client/types.ts
  packages/core/src/client/utils.ts
  packages/functions/src/api/steam.ts
Owners: @dev-team, @wanjohiryan

chore: Add FIXME
  packages/functions/src/api/steam.ts
Owners: @wanjohiryan

fix: Use team_Id as the identifier
  packages/core/migrations/0020_vengeful_wallop.sql
  packages/core/migrations/meta/0020_snapshot.json
  packages/core/migrations/meta/_journal.json
  packages/core/src/client/index.ts
  packages/core/src/client/types.ts
  packages/core/src/client/utils.ts
  packages/core/src/examples.ts
  packages/core/src/friend/friend.sql.ts
  packages/core/src/friend/index.ts
  packages/core/src/library/index.ts
  packages/core/src/library/library.sql.ts
  packages/core/src/member/member.sql.ts
  packages/core/src/steam/index.ts
  packages/core/src/steam/steam.sql.ts
  packages/core/src/team/index.ts
  packages/core/src/team/team.sql.ts
  packages/core/src/utils/id.ts
  packages/functions/src/api/steam.ts
  packages/www/src/App.tsx
  packages/www/src/pages/team/index.tsx
  packages/zero/schema.ts
Owners: @wanjohiryan, @dev-team

feat: It worksgit add .!
  infra/api.ts
  infra/bus.ts
  infra/steam.ts
  packages/core/src/base-game/index.ts
  packages/core/src/client/index.ts
  packages/core/src/client/types.ts
  packages/core/src/client/utils.ts
  packages/core/src/steam/index.ts
  packages/core/src/team/index.ts
  packages/functions/src/api/steam.ts
  packages/functions/src/events/index.ts
  packages/functions/src/queues/library.ts
  packages/www/src/pages/new.tsx
  packages/zero/schema.ts
  sst-env.d.ts
Owners: @wanjohiryan, @dev-team

⭐ feat(runner): Improve robustness and argument handling
  packages/scripts/entrypoint.sh
  packages/scripts/entrypoint_nestri.sh
  packages/scripts/envs.sh
  packages/server/Cargo.lock
  packages/server/Cargo.toml
  packages/server/src/args.rs
  packages/server/src/args/app_args.rs
  packages/server/src/args/device_args.rs
  packages/server/src/args/encoding_args.rs
  packages/server/src/enc_helper.rs
  packages/server/src/gpu.rs
  packages/server/src/main.rs
  packages/server/src/messages.rs
  packages/server/src/nestrisink/imp.rs
  packages/server/src/nestrisink/mod.rs
  packages/server/src/websocket.rs
Owners: @DatCaptainHorse

Remove few unnecessary casts
  packages/server/src/main.rs
Owners: @DatCaptainHorse

fix: Use a standard Queue
  infra/api.ts
  infra/steam.ts
  packages/core/src/actor.ts
  packages/core/src/base-game/index.ts
  packages/core/src/client/index.ts
  packages/core/src/client/types.ts
  packages/core/src/library/index.ts
  packages/core/src/steam/index.ts
  packages/functions/src/api/steam.ts
  packages/functions/src/events/index.ts
  packages/functions/src/queues/library.ts
Owners: @wanjohiryan

Fix some issues and nitpicks
  containers/runner.Containerfile
  packages/server/src/args/encoding_args.rs
  packages/server/src/enc_helper.rs
  packages/server/src/main.rs
  packages/server/src/nestrisink/imp.rs
Owners: @DatCaptainHorse

⭐feat(runner): Improve robustness and argument handling (#285)
  containers/runner.Containerfile
  packages/scripts/entrypoint.sh
  packages/scripts/entrypoint_nestri.sh
  packages/scripts/envs.sh
  packages/server/Cargo.lock
  packages/server/Cargo.toml
  packages/server/src/args.rs
  packages/server/src/args/app_args.rs
  packages/server/src/args/device_args.rs
  packages/server/src/args/encoding_args.rs
  packages/server/src/enc_helper.rs
  packages/server/src/gpu.rs
  packages/server/src/main.rs
  packages/server/src/messages.rs
  packages/server/src/nestrisink/imp.rs
  packages/server/src/nestrisink/mod.rs
  packages/server/src/websocket.rs
Owners: @DatCaptainHorse
