Repository nestrilabs/nestri, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dev-team, @victorpahuus, @AquaWolf, @wanjohiryan, @DatCaptainHorse

.github/CODEOWNERS:

* @dev-team

/apps/ @victorpahuus @AquaWolf
/packages/ui/ @wanjohiryan @victorpahuus @AquaWolf

/protobuf/ @AquaWolf

/infra/ @wanjohiryan
/packages/core/ @wanjohiryan
/packages/functions/ @wanjohiryan

/containers/ @DatCaptainHorse
/packages/server/ @DatCaptainHorse
/packages/relay/ @DatCaptainHorse
/packages/scripts/ @DatCaptainHorse
/packages/input/ @DatCaptainHorse

fix: Return no response on SSE
  packages/steam/Program.cs
Owners: @dev-team

bun.lockb
  bun.lock
Owners: @dev-team

feat: Add a better device friendly name
  packages/steam/SteamClient.cs
Owners: @dev-team

feat: Add account info
  packages/steam/AccountInfoSchema.cs
  packages/steam/AccountLimited.cs
  packages/steam/AuthSchema.cs
  packages/steam/DBContext.cs
  packages/steam/Migrations/20250409045105_AccountInfo.Designer.cs
  packages/steam/Migrations/20250409045105_AccountInfo.cs
  packages/steam/Program.cs
  packages/steam/README.md
  packages/steam/SteamClient.cs
  packages/steam/SteamService.cs
Owners: @dev-team

fix: LET IT RIP
  packages/steam/AccountLimited.cs
  packages/steam/Program.cs
  packages/steam/SteamAuth.cs
  packages/steam/SteamClientOld.cs.txt
  packages/steam/SteamService.cs
  packages/steam/appsettings.Development.json
  packages/steam/index.ts
Owners: @dev-team

fix: Make sure the subscribe function is working
  packages/steam/AccountLimited.cs
  packages/steam/Program.cs
  packages/steam/SSEevent.cs
  packages/steam/SteamAuth.cs
  packages/steam/SteamService.cs
  packages/steam/index.ts
Owners: @dev-team

fix: LAst one her
  packages/steam/SteamAuth.cs
  packages/steam/index.ts
Owners: @dev-team

fix: It finally works as expected
  packages/steam/AccountInfoSchema.cs
  packages/steam/Auth.cs
  packages/steam/AuthSchema.cs
  packages/steam/DBContext.cs
  packages/steam/Migrations/20250408090438_InitialCreate.Designer.cs
  packages/steam/Migrations/20250408125920_RemoveTeam.Designer.cs
  packages/steam/Migrations/20250409045105_AccountInfo.Designer.cs
  packages/steam/Migrations/20250410104213_new.Designer.cs
  packages/steam/Migrations/20250410104213_new.cs
  packages/steam/Program.cs
  packages/steam/SSEevent.cs
  packages/steam/ServerSentEvent.cs
  packages/steam/SteamAuth.cs
  packages/steam/SteamAuthComponent.cs
  packages/steam/SteamModels.cs
  packages/steam/SteamService.cs
Owners: @dev-team

fix: Add steam API route
  packages/steam/Configuration.cs
  packages/steam/SteamAuthComponent.cs
  packages/steam/SteamClientOld.cs.txt
  packages/steam/SteamConfiguration.cs
  packages/steam/SteamService.cs
Owners: @dev-team

feat: Add Steam API
  infra/realtime.ts
  packages/core/migrations/0003_first_big_bertha.sql
  packages/core/migrations/meta/0003_snapshot.json
  packages/core/migrations/meta/_journal.json
  packages/core/src/email/index.ts
  packages/core/src/examples.ts
  packages/core/src/steam/index.ts
  packages/core/src/steam/steam.sql.ts
  packages/core/src/user/user.sql.ts
  packages/functions/src/api/index.ts
  packages/functions/src/api/machine.ts
  packages/functions/src/api/steam.ts
  packages/functions/src/realtime/authorizer.ts
  packages/functions/sst-env.d.ts
  packages/steam/sst-env.d.ts
  sst-env.d.ts
Owners: @wanjohiryan, @dev-team

fix: Use SQL NOW()
  bun.lock
  packages/core/src/realtime/index.ts
  packages/core/src/steam/index.ts
Owners: @dev-team, @wanjohiryan

feat: Edit Machines to support BYOG
  packages/core/src/examples.ts
  packages/core/src/machine/index.ts
  packages/core/src/machine/machine.sql.ts
  packages/core/src/steam/index.ts
  packages/core/src/steam/steam.sql.ts
  packages/functions/src/api/account.ts
  packages/functions/src/api/machine.ts
Owners: @wanjohiryan

fix: Change BYOG description
  packages/functions/src/api/machine.ts
Owners: @wanjohiryan

fix: QOL changes
  packages/functions/src/api/auth.ts
  packages/functions/src/api/common.ts
  packages/functions/src/api/types/hook.ts
Owners: @wanjohiryan

fix: Use a little solution
  packages/steam/HttpClientFactory.cs
  packages/steam/MachineInfo.cs
  packages/steam/Migrations/20250408090438_InitialCreate.Designer.cs
  packages/steam/Migrations/20250408090438_InitialCreate.cs
  packages/steam/Migrations/20250408125920_RemoveTeam.Designer.cs
  packages/steam/Migrations/20250408125920_RemoveTeam.cs
  packages/steam/Migrations/20250409045105_AccountInfo.Designer.cs
  packages/steam/Migrations/20250409045105_AccountInfo.cs
  packages/steam/Migrations/20250410104213_new.Designer.cs
  packages/steam/Migrations/20250410104213_new.cs
  packages/steam/Migrations/SteamDbContextModelSnapshot.cs
  packages/steam/Program.cs
  packages/steam/ServerSentEvent.cs
  packages/steam/SteamAuthComponent.cs
  packages/steam/SteamAuthService.cs
  packages/steam/SteamConfiguration.cs
  packages/steam/SteamModels.cs
  packages/steam/SteamService.cs
Owners: @dev-team

fix: Use a diff approach
  packages/steam/SteamAuthService.cs
  packages/steam/index.ts
Owners: @dev-team

fix: Make sure it is not null
  packages/input/src/webrtc-stream.ts
Owners: @DatCaptainHorse

⭐ feat(dependabot): Put a leash on it
  .github/dependabot.yml
  packages/core/src/email/index.ts
Owners: @dev-team, @wanjohiryan

feat: Add support for Cargo, Nuget and Golang as well
  .github/dependabot.yml
Owners: @dev-team

fix: Use non-glob patterns
  .github/dependabot.yml
Owners: @dev-team

fix: Allow security updates
  .github/dependabot.yml
Owners: @dev-team

fix: Fix the config file
  .github/dependabot.yml
Owners: @dev-team

⭐ feat(dependabot): Put a leash on it (#231)
  .github/dependabot.yml
  packages/core/src/email/index.ts
Owners: @dev-team, @wanjohiryan

🐜 fix(dependabot): Remove the goddamn file
  .github/dependabot.yml
Owners: @dev-team

🐜 fix(dependabot): Remove the goddamn file (#257)
  .github/dependabot.yml
Owners: @dev-team

feat: Use a simpler approach
  packages/steam/.gitignore
  packages/steam/index.ts
  packages/steam/terminal.ts
Owners: @dev-team

Runner fixes and improvements
  .github/workflows/runner.yml
  containers/runner.Containerfile
  packages/scripts/entrypoint.sh
  packages/scripts/entrypoint_nestri.sh
  packages/scripts/envs.sh
  packages/scripts/supervisord.conf
  packages/server/Cargo.lock
  packages/server/Cargo.toml
  packages/server/src/args.rs
  packages/server/src/args/app_args.rs
  packages/server/src/enc_helper.rs
  packages/server/src/main.rs
  packages/server/src/nestrisink/imp.rs
  packages/server/src/proto/gen.rs
  packages/server/src/proto/proto.rs
Owners: @dev-team, @DatCaptainHorse

fix: Fix some auth
  packages/functions/src/auth.ts
Owners: @wanjohiryan

fix: Add TODOs
  infra/auth.ts
Owners: @wanjohiryan

⭐ feat(runner): Fixes and improvements (#259)
  .github/workflows/runner.yml
  containers/runner.Containerfile
  packages/scripts/entrypoint.sh
  packages/scripts/entrypoint_nestri.sh
  packages/scripts/envs.sh
  packages/scripts/supervisord.conf
  packages/server/Cargo.lock
  packages/server/Cargo.toml
  packages/server/src/args.rs
  packages/server/src/args/app_args.rs
  packages/server/src/enc_helper.rs
  packages/server/src/main.rs
  packages/server/src/nestrisink/imp.rs
  packages/server/src/proto/gen.rs
  packages/server/src/proto/proto.rs
Owners: @dev-team, @DatCaptainHorse

⭐ feat(api): Add Steam to Account
  bun.lock
  infra/auth.ts
  packages/core/migrations/0004_amused_mattie_franklin.sql
  packages/core/migrations/0005_aspiring_stature.sql
  packages/core/migrations/meta/0004_snapshot.json
  packages/core/migrations/meta/0005_snapshot.json
  packages/core/migrations/meta/_journal.json
  packages/core/package.json
  packages/core/src/examples.ts
  packages/core/src/machine/index.ts
  packages/core/src/machine/machine.sql.ts
  packages/core/src/steam/steam.sql.ts
  packages/core/src/user/index.ts
  packages/functions/src/api/account.ts
  packages/functions/src/auth.ts
  packages/www/src/providers/account.tsx
Owners: @dev-team, @wanjohiryan

fix: Remove machine button from being shown
  packages/functions/src/auth.ts
Owners: @wanjohiryan

⭐ feat(api): Connect Steam to main user account (#262)
  bun.lock
  infra/auth.ts
  packages/core/migrations/0004_amused_mattie_franklin.sql
  packages/core/migrations/0005_aspiring_stature.sql
  packages/core/migrations/meta/0004_snapshot.json
  packages/core/migrations/meta/0005_snapshot.json
  packages/core/migrations/meta/_journal.json
  packages/core/package.json
  packages/core/src/examples.ts
  packages/core/src/machine/index.ts
  packages/core/src/machine/machine.sql.ts
  packages/core/src/steam/steam.sql.ts
  packages/core/src/user/index.ts
  packages/functions/src/api/account.ts
  packages/functions/src/auth.ts
  packages/www/src/providers/account.tsx
Owners: @dev-team, @wanjohiryan

🐜 fix: Remove Steam account info repetition
  packages/functions/src/api/account.ts
  packages/functions/src/api/steam.ts
Owners: @wanjohiryan

🐜 fix: Remove Steam account info repetition (#263)
  packages/functions/src/api/account.ts
  packages/functions/src/api/steam.ts
Owners: @wanjohiryan

⭐ feat(api): Add payments with Polar.sh
  packages/core/src/common.ts
  packages/core/src/examples.ts
  packages/core/src/member/index.ts
  packages/core/src/member/member.sql.ts
  packages/core/src/polar/index.ts
  packages/core/src/polar/polar.sql.ts.test
  packages/core/src/subscription/index.ts
  packages/core/src/subscription/subscription.ts
  packages/core/src/team/index.ts
  packages/core/src/team/team.sql.ts
  packages/core/src/user/index.ts
  packages/core/src/utils/id.ts
  packages/functions/src/api/subscription.ts
Owners: @wanjohiryan

fix: Migrate the subscriptions table
  packages/core/migrations/0006_worthless_dreadnoughts.sql
  packages/core/migrations/0007_warm_secret_warriors.sql
  packages/core/migrations/meta/0006_snapshot.json
  packages/core/migrations/meta/0007_snapshot.json
  packages/core/migrations/meta/_journal.json
  packages/core/src/subscription/index.ts
  packages/core/src/subscription/subscription.sql.ts
  packages/core/src/team/index.ts
  packages/core/src/user/index.ts
  packages/functions/src/api/index.ts
  packages/www/src/pages/team/index.tsx
Owners: @wanjohiryan, @dev-team

fix: Test the API and fix any issues
  packages/core/migrations/0008_third_mindworm.sql
  packages/core/migrations/0009_luxuriant_wraith.sql
  packages/core/migrations/meta/0008_snapshot.json
  packages/core/migrations/meta/0009_snapshot.json
  packages/core/migrations/meta/_journal.json
  packages/core/src/actor.ts
  packages/core/src/drizzle/types.ts
  packages/core/src/steam/steam.sql.ts
  packages/core/src/subscription/index.ts
  packages/core/src/subscription/subscription.sql.ts
  packages/core/src/utils/id.ts
  packages/functions/src/api/auth.ts
  packages/functions/src/api/team.ts
  packages/www/src/pages/new.tsx
  packages/www/src/pages/team/header.tsx
  packages/www/src/ui/form.tsx
Owners: @wanjohiryan, @dev-team

fix: Replace 'Individual' with 'Free'
  packages/www/src/pages/new.tsx
Owners: @dev-team

feat: Add subscriptions and Polar.sh endpoint
  infra/api.ts
  infra/secret.ts
  packages/core/src/polar/index.ts
  packages/core/src/subscription/index.ts
  packages/functions/src/api/index.ts
  packages/functions/src/api/polar.ts
  packages/functions/src/api/subscription.ts
  packages/functions/src/api/team.ts
  packages/functions/sst-env.d.ts
  packages/www/src/pages/new.tsx
  packages/www/src/pages/team/header.tsx
  sst-env.d.ts
Owners: @wanjohiryan, @dev-team
