Repository nestrilabs/nestri, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dev-team, @victorpahuus, @AquaWolf, @wanjohiryan, @DatCaptainHorse

.github/CODEOWNERS:

* @dev-team

/apps/ @victorpahuus @AquaWolf
/packages/ui/ @wanjohiryan @victorpahuus @AquaWolf

/protobuf/ @AquaWolf

/infra/ @wanjohiryan
/packages/core/ @wanjohiryan
/packages/functions/ @wanjohiryan

/containers/ @DatCaptainHorse
/packages/server/ @DatCaptainHorse
/packages/relay/ @DatCaptainHorse
/packages/scripts/ @DatCaptainHorse
/packages/input/ @DatCaptainHorse

feat
  packages/core/migrations/0021_real_skreet.sql
  packages/core/migrations/0022_clean_living_lightning.sql
  packages/core/migrations/meta/0021_snapshot.json
  packages/core/migrations/meta/0022_snapshot.json
  packages/core/migrations/meta/_journal.json
  packages/core/src/categories/categories.sql.ts
  packages/core/src/categories/index.ts
  packages/core/src/client/steam.ts
  packages/core/src/examples.ts
  packages/functions/src/api/steam.ts
  packages/functions/src/queues/library.ts
  packages/zero/schema.ts
  sst-env.d.ts
Owners: @wanjohiryan, @dev-team

fix: Move to a simpler endpoint
  packages/core/src/client/index.ts
  packages/core/src/client/steam.ts
  packages/core/src/client/types.ts
  packages/core/src/client/utils.ts
Owners: @wanjohiryan

fix: Add types support
  packages/core/src/base-game/base-game.sql.ts
  packages/core/src/base-game/index.ts
  packages/core/src/client/types.ts
  packages/core/src/client/utils.ts
  packages/functions/src/queues/library.ts
Owners: @wanjohiryan

feat: Add SteamApiKey
  packages/core/src/client/index.ts
Owners: @wanjohiryan

fix: Finish up
  infra/bus.ts
  infra/steam.ts
  packages/core/migrations/0023_flawless_steel_serpent.sql
  packages/core/migrations/meta/0023_snapshot.json
  packages/core/migrations/meta/_journal.json
  packages/core/src/base-game/base-game.sql.ts
  packages/core/src/base-game/index.ts
  packages/core/src/client/index.ts
  packages/core/src/client/steam.ts
  packages/core/src/client/types.ts
  packages/core/src/examples.ts
  packages/functions/src/queues/library.ts
Owners: @wanjohiryan

fix: Merge into zero
  packages/core/migrations/0024_damp_cerise.sql
  packages/core/migrations/meta/0024_snapshot.json
  packages/core/migrations/meta/_journal.json
  packages/core/src/base-game/base-game.sql.ts
  packages/core/src/base-game/index.ts
  packages/functions/src/api/steam.ts
  packages/functions/src/queues/library.ts
  packages/zero/schema.ts
Owners: @wanjohiryan, @dev-team

fix: Add stuff:
  infra/bus.ts
  packages/www/src/pages/new.tsx
Owners: @wanjohiryan, @dev-team

Resolve some nitpicks
  packages/input/src/messages.ts
  packages/input/src/webrtc-stream.ts
  packages/relay/internal/core/metrics.go
  packages/relay/internal/core/protocol_stream.go
  packages/relay/internal/egress.txt
  packages/relay/internal/http.txt
  packages/relay/internal/ingest.txt
  packages/server/src/nestrisink/imp.rs
  packages/server/src/p2p/p2p.rs
  packages/server/src/p2p/p2p_protocol_stream.rs
  packages/server/src/websocket.rs
Owners: @DatCaptainHorse

Add relay identity generation and persistent storage
  packages/relay/.gitignore
  packages/relay/internal/common/crypto.go
  packages/relay/internal/common/flags.go
  packages/relay/internal/core/core.go
  packages/relay/main.go
Owners: @DatCaptainHorse

Resolve some nitpicks
  containers/relay.Containerfile
  packages/input/src/messages.ts
Owners: @DatCaptainHorse

Resolve few more nitpicks
  packages/input/src/messages.ts
  packages/relay/internal/core/protocol_stream.go
  packages/server/src/nestrisink/imp.rs
Owners: @DatCaptainHorse

Resolve some more nitpicks
  packages/input/src/messages.ts
  packages/input/src/webrtc-stream.ts
Owners: @DatCaptainHorse

Hopefully last nitpicks, add URL query param for setting peer address
  apps/www/src/routes/(play)/play/[id]/index.tsx
  packages/input/src/messages.ts
Owners: @victorpahuus, @AquaWolf, @DatCaptainHorse

Fix type infer
  packages/input/src/messages.ts
Owners: @DatCaptainHorse

Last nitpick please rabbit
  packages/input/src/messages.ts
Owners: @DatCaptainHorse

Make CI happier
  packages/input/src/webrtc-stream.ts
Owners: @DatCaptainHorse

latency test blog entry
  apps/blog/public/nestri-footage-latency.png
  apps/blog/public/pexels-brett-sayles-2881224.jpg
  apps/blog/src/content/blog/latency-deep-dive.md
Owners: @victorpahuus, @AquaWolf

feat: Add a whos playing route
  packages/www/src/App.tsx
  packages/www/src/pages/home.tsx
  packages/www/src/pages/new.tsx
  packages/www/src/pages/team/home-old.tsx
  packages/www/src/pages/team/index.tsx
Owners: @dev-team

fix: Add colors
  packages/www/src/pages/home.tsx
Owners: @dev-team

feat: Add a home account ui
  packages/www/src/pages/home.tsx
Owners: @dev-team

fix: Use Steam Profiles instead of teams
  packages/core/src/account/index.ts
  packages/core/src/actor.ts
  packages/core/src/member/index.ts
  packages/core/src/member/member.sql.ts
  packages/core/src/steam/index.ts
  packages/core/src/team/index.ts
  packages/core/src/team/team.sql.ts
  packages/core/src/user/index.ts
  packages/functions/src/api/account.ts
  packages/functions/src/api/index.ts
  packages/functions/src/api/steam.ts
  packages/functions/src/api/team.ts
  packages/functions/src/api/utils/auth.ts
  packages/www/src/App.tsx
  packages/www/src/pages/new.tsx
  packages/www/src/pages/not-found.tsx
  packages/www/src/pages/profiles.tsx
  packages/www/src/pages/steam/header.tsx
  packages/www/src/pages/steam/home-old.tsx
  packages/www/src/pages/steam/index.tsx
  packages/www/src/pages/steam/library.tsx
  packages/www/src/providers/account.tsx
  packages/www/src/providers/api.tsx
  packages/www/src/providers/context.tsx
  packages/www/src/ui/custom-qr.tsx
Owners: @wanjohiryan, @dev-team

feat: Add profiles
  bun.lock
  packages/functions/src/api/steam.ts
  packages/www/package.json
  packages/www/src/App.tsx
  packages/www/src/components/profile-picture.tsx
  packages/www/src/pages/new.tsx
  packages/www/src/pages/profiles.tsx
  packages/zero/schema.ts
  sst-env.d.ts
Owners: @dev-team, @wanjohiryan

fix: Make sure the lib is used only on production
  infra/steam.ts
  packages/core/src/client/index.ts
  packages/functions/src/api/steam.ts
Owners: @wanjohiryan

🐜 fix(db): Remove all team associations
  packages/core/migrations/0025_bitter_jack_flag.sql
  packages/core/migrations/meta/0025_snapshot.json
  packages/core/migrations/meta/_journal.json
Owners: @wanjohiryan

🐜 fix(db): Remove all team associations (#288)
  packages/core/migrations/0025_bitter_jack_flag.sql
  packages/core/migrations/meta/0025_snapshot.json
  packages/core/migrations/meta/_journal.json
Owners: @wanjohiryan

🐜 fix(zero): Remove team and members schemas
  packages/zero/schema.ts
Owners: @dev-team

🐜 fix(zero): Remove team and members schemas (#289)
  packages/zero/schema.ts
Owners: @dev-team

🐜 fix(infra): Reduce DB ACUs
  infra/postgres.ts
Owners: @wanjohiryan

⭐ feat: Use bus instead of a queue
  bun.lock
  infra/api.ts
  infra/bus.ts
  infra/steam.ts
  packages/core/src/library/index.ts
  packages/functions/package.json
  packages/functions/src/api/steam.ts
  packages/functions/src/events/index.ts
  packages/functions/src/queues/library.ts
  packages/functions/src/queues/retry.ts
  sst-env.d.ts
Owners: @dev-team, @wanjohiryan

fix: Add break
  packages/functions/src/events/index.ts
Owners: @wanjohiryan

⭐ feat: Upgrade to asynchronous event bus with retry queue and backoff strategy (#290)
  bun.lock
  infra/api.ts
  infra/bus.ts
  infra/steam.ts
  packages/core/src/library/index.ts
  packages/functions/package.json
  packages/functions/src/api/steam.ts
  packages/functions/src/events/index.ts
  packages/functions/src/queues/library.ts
  packages/functions/src/queues/retry.ts
  sst-env.d.ts
Owners: @dev-team, @wanjohiryan

⭐ feat: Create image pipeline
  infra/api.ts
  infra/auth.ts
  infra/images.ts
  infra/storage.ts
  infra/zero.ts
  packages/functions/src/images/image.ts
  packages/functions/src/images/index.ts
  sst-env.d.ts
  tsconfig.json
Owners: @wanjohiryan, @dev-team

feat: Add image transforms
  bun.lock
  infra/api.ts
  infra/images.ts
  infra/storage.ts
  package.json
  packages/functions/package.json
  packages/functions/src/api/image.ts
  packages/functions/src/api/index.ts
  packages/functions/src/images/image.ts
  packages/functions/src/images/index.ts
  packages/functions/src/images/processor.ts
  sst-env.d.ts
Owners: @dev-team, @wanjohiryan

feat: Use CF
  bun.lock
  infra/api.ts
  infra/images.ts
  packages/functions/package.json
  packages/functions/src/api/index.ts
  packages/functions/src/images/image.ts
  packages/functions/src/images/processor.ts
  sst-env.d.ts
Owners: @dev-team, @wanjohiryan

⭐ chore(infra): Move to AWS Lambda
  infra/api.ts
  infra/auth.ts
  infra/realtime.ts
  infra/zero.ts
  packages/functions/package.json
  packages/functions/src/api/index.ts
  packages/functions/src/auth/index.ts
  sst-env.d.ts
Owners: @wanjohiryan, @dev-team

fix: Add API inside VPC
  infra/api.ts
Owners: @wanjohiryan

⭐ feat(infra): Migrate to serverless Lambda architecture (#291)
  infra/api.ts
  infra/auth.ts
  infra/realtime.ts
  infra/zero.ts
  packages/functions/package.json
  packages/functions/src/api/index.ts
  packages/functions/src/auth/index.ts
  sst-env.d.ts
Owners: @wanjohiryan, @dev-team

🐜 fix(api): Fix double CORS issue
  packages/functions/src/api/index.ts
Owners: @wanjohiryan

🐜 fix(api): Fix double CORS issue
  packages/functions/src/api/index.ts
Owners: @wanjohiryan

fix: Fix cookie issue
  infra/api.ts
  packages/functions/src/api/steam.ts
  sst-env.d.ts
Owners: @wanjohiryan, @dev-team
