Repository nestrilabs/nestri, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dev-team, @victorpahuus, @AquaWolf, @wanjohiryan, @DatCaptainHorse

.github/CODEOWNERS:

* @dev-team

/apps/ @victorpahuus @AquaWolf
/packages/ui/ @wanjohiryan @victorpahuus @AquaWolf

/protobuf/ @AquaWolf

/infra/ @wanjohiryan
/packages/core/ @wanjohiryan
/packages/functions/ @wanjohiryan

/containers/ @DatCaptainHorse
/packages/server/ @DatCaptainHorse
/packages/relay/ @DatCaptainHorse
/packages/scripts/ @DatCaptainHorse
/packages/input/ @DatCaptainHorse

feat: Move the API to fargate, scrape the Steam service
  infra/api.ts
  infra/auth.ts
  infra/postgres.ts
  infra/steam.ts
  infra/www.ts
  packages/core/package.json
  packages/functions/Dockerfile
  packages/functions/package.json
  packages/functions/src/api/auth.ts
  packages/functions/src/api/index.ts
  packages/functions/src/log-polyfill.ts
  packages/functions/src/party/authorizer.ts
  packages/functions/sst-env.d.ts
  packages/steam/sst-env.d.ts
  packages/www/src/sst-env.d.ts
  sst-env.d.ts
Owners: @wanjohiryan, @dev-team

feat: Add QR code authentication
  bun.lock
  packages/functions/src/api/auth.ts
  packages/functions/src/api/index.ts
  packages/functions/src/api/steam/.gitignore
  packages/functions/src/api/steam/Program.cs
  packages/functions/src/api/steam/index.ts
  packages/functions/src/api/steam/steam.csproj
  packages/functions/src/api/steam/steamAuth.ts
  packages/steam/index.ts
  packages/steam/package.json
  packages/steam/sst-env.d.ts
  packages/steam/tsconfig.json
  packages/www/src/App.tsx
  packages/www/src/pages/team/home.tsx
  packages/www/src/pages/team/index.tsx
  packages/www/src/providers/steam.tsx
Owners: @dev-team, @wanjohiryan

feat: Move auth to Fargate as well
  bun.lock
  infra/api.ts
  infra/auth.ts
  package.json
  packages/functions/api.Containerfile
  packages/functions/auth.Dockerfile
  packages/functions/package.json
  packages/functions/src/api/steam/index.ts
  packages/functions/src/auth.ts
  packages/functions/sst-env.d.ts
  packages/www/src/providers/steam.tsx
  sst-env.d.ts
  sst.config.ts
Owners: @dev-team, @wanjohiryan

fix: Use a shared container
  infra/api.ts
  infra/auth.ts
  packages/functions/Containerfile
  packages/functions/api.Containerfile
Owners: @wanjohiryan

fix: Add ses:SendEmail permissions
  infra/api.ts
  infra/auth.ts
Owners: @wanjohiryan

fix: Add some persistent storage
  infra/auth.ts
  packages/functions/src/auth.ts
Owners: @wanjohiryan

fix: Add misc
  infra/auth.ts
  packages/functions/src/auth.ts
Owners: @wanjohiryan

fix: Fix the bg color issues
  packages/www/src/pages/team/header.tsx
  packages/www/src/pages/team/home.tsx
Owners: @dev-team

fix: Add default state
  packages/www/src/pages/team/home.tsx
Owners: @dev-team

fix(www): Change CTA for now
  apps/www/src/routes/(public)/index.tsx
  apps/www/src/routes/(public)/pricing/index.tsx
Owners: @victorpahuus, @AquaWolf

🐜 fix(www): Change CTA for now (#223)
  apps/www/src/routes/(public)/index.tsx
  apps/www/src/routes/(public)/pricing/index.tsx
Owners: @victorpahuus, @AquaWolf

fix: Move the Empty state
  packages/functions/src/auth.ts
  packages/www/src/components/index.ts
  packages/www/src/components/qr-code.tsx
  packages/www/src/pages/team/home.tsx
  packages/www/src/providers/steam.tsx
  packages/www/vite.config.ts
Owners: @wanjohiryan, @dev-team

feat: Make sure Steam auth works
  packages/functions/src/api/steam/index.ts
  packages/functions/src/api/steam/steamAuth.ts
  packages/www/src/components/qr-code.tsx
  packages/www/src/pages/team/home.tsx
  packages/www/src/providers/steam.tsx
  packages/www/src/ui/custom-qr.tsx
Owners: @wanjohiryan, @dev-team

feat: Attempt to get user info
  nestri.sln
  packages/functions/src/api/steam/Program.cs
  packages/www/src/components/qr-code.tsx
Owners: @dev-team, @wanjohiryan

feat: Get user credentials and save to db
  packages/core/migrations/0002_simple_outlaw_kid.sql
  packages/core/migrations/meta/0002_snapshot.json
  packages/core/migrations/meta/_journal.json
  packages/core/src/actor.ts
  packages/core/src/drizzle/types.ts
  packages/core/src/examples.ts
  packages/core/src/member/index.ts
  packages/core/src/steam/index.ts
  packages/core/src/steam/steam.sql.ts
  packages/core/src/team/index.ts
  packages/core/src/utils/id.ts
  packages/functions/src/api/auth.ts
  packages/functions/src/api/steam/Program.cs
  packages/functions/src/api/steam/index.ts
  packages/functions/src/api/steam/steamAuth.ts
  packages/www/src/components/qr-code.tsx
  packages/www/src/providers/api.tsx
  packages/www/src/providers/steam.tsx
Owners: @wanjohiryan, @dev-team

chore: Add fixmes
  packages/functions/src/api/steam/index.ts
  packages/www/src/providers/steam.tsx
Owners: @wanjohiryan, @dev-team

fix: Change to namespace
  packages/core/src/common.ts
  packages/core/src/examples.ts
  packages/core/src/member/index.ts
  packages/core/src/polar/index.ts
  packages/core/src/steam/index.ts
  packages/core/src/team/index.ts
  packages/core/src/user/index.ts
  packages/functions/src/api/account.ts
  packages/functions/src/api/steam/index.ts
  packages/functions/src/api/team.ts
  packages/www/src/pages/team/header.tsx
Owners: @wanjohiryan, @dev-team

fix: Make QoL changest
  packages/functions/src/api/steam/Program.cs
  packages/www/src/common/portal/button.ts
  packages/www/src/components/qr-code.tsx
  packages/www/src/pages/team/header.tsx
Owners: @wanjohiryan, @dev-team

fix: Some more qol changes
  packages/core/src/actor.ts
  packages/core/src/steam/steam.sql.ts
  packages/functions/src/api/index.ts
  packages/functions/src/api/steam/Program.cs
  packages/www/src/common/portal/index.tsx
  packages/www/src/pages/new.tsx
Owners: @wanjohiryan, @dev-team

WIP 2 changes
  packages/relay/go.mod
  packages/relay/go.sum
  packages/relay/internal/common/common.go
  packages/relay/internal/common/crypto.go
  packages/relay/internal/common/extensions.go
  packages/relay/internal/common/map.go
  packages/relay/internal/common/state.go
  packages/relay/internal/connections/messages_mesh.go
  packages/relay/internal/connections/websocket.go
  packages/relay/internal/egress.go
  packages/relay/internal/http.go
  packages/relay/internal/ingest.go
  packages/relay/internal/mesh.go
  packages/relay/internal/participant.go
  packages/relay/internal/proto/latency_tracker.pb.go
  packages/relay/internal/proto/mesh.pb.go
  packages/relay/internal/proto/messages.pb.go
  packages/relay/internal/proto/state.pb.go
  packages/relay/internal/proto/types.pb.go
  packages/relay/internal/proto/webrtc.pb.go
  packages/relay/internal/relay.go
  packages/relay/internal/room.go
  packages/relay/main.go
  protobufs/mesh.proto
  protobufs/state.proto
  protobufs/webrtc.proto
Owners: @DatCaptainHorse, @dev-team

fix: It still does not work
  packages/functions/src/api/steam/Program.cs
  packages/functions/src/api/steam/index.ts
  packages/functions/src/api/steam/steamAuth.ts
Owners: @wanjohiryan

feat: Return of the Steam package
  packages/steam/.gitignore
  packages/steam/Program.cs
  packages/steam/steam.csproj
Owners: @dev-team

feat: Use UNIX sockets
  packages/steam/Program.cs
  packages/steam/package.json
  packages/steam/steam.sln
Owners: @dev-team

fix: Remove dead code
  packages/steam/Program.cs
Owners: @dev-team

fix: Use a simpler and cleaner way to connect to Steam
  packages/steam/Program.cs
  packages/steam/SteamSocketAuth.cs
  packages/steam/index.ts
  packages/steam/package.json
  packages/steam/steam.csproj
  packages/steam/steam_credentials.json
  packages/steam/tsconfig.json
Owners: @dev-team

Revert "fix: Use a simpler and cleaner way to connect to Steam"
  packages/steam/Program.cs
  packages/steam/SteamSocketAuth.cs
  packages/steam/index.ts
  packages/steam/package.json
  packages/steam/steam.csproj
  packages/steam/steam_credentials.json
  packages/steam/tsconfig.json
Owners: @dev-team

fix: Add a simpler and cleaner way
  packages/steam/Program.cs
  packages/steam/SteamSocketAuth.cs
  packages/steam/index.ts
  packages/steam/steam.csproj
Owners: @dev-team

fix: Add some loginID
  packages/steam/.gitignore
  packages/steam/Program.cs
  packages/steam/SteamSocketAuth.cs
  packages/steam/index.ts
Owners: @dev-team

fix: Remove loginID
  packages/steam/Program.cs
  packages/steam/SteamSocketAuth.cs
  packages/steam/index.ts
Owners: @dev-team

fix: Remove unnecessary loginID
  packages/steam/SteamSocketAuth.cs
  packages/steam/index.ts
Owners: @dev-team

feat: Migrate slowly to our new SteamAPI integration
  bun.lock
  infra/steam.ts
  packages/functions/src/api/steam/.gitignore
  packages/functions/src/api/steam/Program.cs
  packages/functions/src/api/steam/index.ts
  packages/functions/src/api/steam/steam.csproj
  packages/functions/src/api/steam/steamAuth.ts
  packages/steam/package.json
Owners: @dev-team, @wanjohiryan

feat: Add realtime WS messages
  packages/functions/Containerfile
  packages/functions/package.json
  packages/functions/src/api/index.ts
  packages/functions/src/api/realtime/actor-core.ts
Owners: @wanjohiryan

bun.lock
  bun.lock
Owners: @dev-team

fix: Reconfigure the realtime route
  packages/functions/src/api/index.ts
  packages/functions/src/api/realtime/index.ts
Owners: @wanjohiryan

fix: Fix the monorepo's sln file
  nestri.sln
  packages/functions/src/api/index.ts
  packages/steam/Program.cs
Owners: @dev-team, @wanjohiryan

feat: Add game retrieval and friends retrieval
  packages/steam/AccountLimited.cs
  packages/steam/Program.cs
  packages/steam/SteamSocketAuth.cs
  packages/steam/index.ts
Owners: @dev-team

Switch mesh to libp2p networking, update frontend to reflect changes + bugfixes.
  containers/relay.Containerfile
  packages/input/src/webrtc-stream.ts
  packages/relay/go.mod
  packages/relay/go.sum
  packages/relay/internal/common/common.go
  packages/relay/internal/common/crypto.go
  packages/relay/internal/common/flags.go
  packages/relay/internal/common/state.go
  packages/relay/internal/egress.go
  packages/relay/internal/http.go
  packages/relay/internal/ingest.go
  packages/relay/internal/mesh.go
  packages/relay/internal/participant.go
  packages/relay/internal/relay.go
  packages/relay/internal/room.go
  packages/relay/main.go
  protobufs/mesh.proto
  protobufs/state.proto
  protobufs/webrtc.proto
Owners: @DatCaptainHorse, @dev-team

🧹 chore(infra): Upgrade to sst v3.11.21
  sst.config.ts
Owners: @dev-team

🐜 fix(infra): Fix the Web path
  infra/www.ts
Owners: @wanjohiryan

feat: Use SQLITE for storing credentials
  packages/steam/DBContext.cs
  packages/steam/DBSchema.cs
  packages/steam/Migrations/20250408090438_InitialCreate.Designer.cs
  packages/steam/Migrations/20250408090438_InitialCreate.cs
  packages/steam/Migrations/20250408125920_RemoveTeam.Designer.cs
  packages/steam/Migrations/20250408125920_RemoveTeam.cs
  packages/steam/Migrations/SteamDbContextModelSnapshot.cs
  packages/steam/Program.cs
  packages/steam/SteamClient.cs
  packages/steam/SteamService.cs
  packages/steam/index.ts
  packages/steam/package.json
Owners: @dev-team
