Repository nestrilabs/nestri, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dev-team, @victorpahuus, @AquaWolf, @wanjohiryan, @DatCaptainHorse

🐜 fix: Add asynchronous bus for Steam account
  packages/core/src/steam/index.ts
  packages/functions/src/api/steam.ts
  packages/functions/src/events/index.ts
Owners: @wanjohiryan

🧹 chore: remove dead code
  packages/functions/src/api/steam.ts
Owners: @wanjohiryan

🧹 chore(functions): Remove Containerfile
  packages/functions/Containerfile
Owners: @wanjohiryan

⭐ feat: Add home
  packages/www/src/pages/steam/index.tsx
Owners: @dev-team

fix: Use images
  infra/cdn.ts
  infra/storage.ts
  infra/www.ts
  infra/zero.ts
  packages/www/src/assets/service-worker.js
  packages/www/src/index.tsx
  packages/www/src/sst-env.d.ts
  sst-env.d.ts
Owners: @wanjohiryan, @dev-team

fix: Use public
  infra/cdn.ts
  packages/functions/src/events/index.ts
Owners: @wanjohiryan

More runner improvements
  containers/runner.Containerfile
  packages/scripts/_v2-entry-point
  packages/scripts/entrypoint.sh
  packages/scripts/entrypoint_nestri.sh
  packages/scripts/envs.sh
  packages/scripts/supervisord.conf
  packages/server/Cargo.lock
  packages/server/Cargo.toml
  packages/server/src/args.rs
  packages/server/src/args/app_args.rs
  packages/server/src/args/device_args.rs
  packages/server/src/args/encoding_args.rs
  packages/server/src/enc_helper.rs
  packages/server/src/gpu.rs
  packages/server/src/main.rs
  packages/server/src/nestrisink/imp.rs
  packages/server/src/nestrisink/mod.rs
  packages/server/src/p2p/p2p.rs
  packages/server/src/p2p/p2p_protocol_stream.rs
  packages/server/src/p2p/p2p_safestream.rs
Owners: @DatCaptainHorse

Nitpick fixes
  containers/runner.Containerfile
  packages/scripts/entrypoint.sh
  packages/scripts/entrypoint_nestri.sh
  packages/scripts/supervisord.conf
  packages/server/src/gpu.rs
  packages/server/src/main.rs
Owners: @DatCaptainHorse

More nitpickies
  containers/runner.Containerfile
  packages/scripts/entrypoint.sh
  packages/server/src/gpu.rs
Owners: @DatCaptainHorse

Some long-needed updates
  README.md
  apps/docs/content/1.introduction/1.what-is-nestri.md
  apps/docs/content/1.introduction/2.faq.md
  apps/docs/content/2.nestri-node/1.what-is-nestri-node.md
  apps/docs/content/2.nestri-node/2.prerequisite.md
  apps/docs/content/2.nestri-node/3.getting-started.md
  apps/docs/content/2.nestri-node/5.container-cli.md
  apps/docs/content/2.nestri-node/6.node-faq.md
  apps/docs/content/2.nestri-node/7.developer-notes.md
  apps/docs/content/3.nestri-relay/1.what-is-nestri-relay.md
Owners: @dev-team, @victorpahuus, @AquaWolf

dont remember
  infra/cdn.ts
  packages/www/src/App.tsx
  packages/www/src/assets/service-worker.js
  packages/www/src/pages/steam/home-old.tsx
  packages/www/src/pages/steam/home.tsx
  packages/www/src/pages/steam/index.tsx
  packages/www/src/pages/steam/library.tsx
Owners: @wanjohiryan, @dev-team

fix: Add some new pics
  apps/docs/public/README.png
Owners: @victorpahuus, @AquaWolf

fix: Current
  README.md
Owners: @dev-team

change dimensions
  apps/docs/public/README.png
Owners: @victorpahuus, @AquaWolf

🐜 fix(infra): Remove db on team member stages
  bun.lock
  infra/dns.ts
  infra/postgres.ts
  package.json
  sst-env.d.ts
  sst.config.ts
Owners: @dev-team, @wanjohiryan

fix: Add some more fixes
  README.md
Owners: @dev-team

Nitpick missing nestri ssh folder
  packages/scripts/entrypoint.sh
Owners: @DatCaptainHorse

SSH with given key only and other niceties
  .dockerignore
  containers/runner.Containerfile
  packages/scripts/entrypoint.sh
  packages/scripts/entrypoint_nestri.sh
Owners: @dev-team, @DatCaptainHorse

More nitpickies
  containers/runner.Containerfile
  packages/scripts/entrypoint.sh
  packages/server/src/gpu.rs
Owners: @DatCaptainHorse

Last nitpick hopefully
  packages/scripts/entrypoint_nestri.sh
Owners: @DatCaptainHorse

More runner improvements
  containers/runner.Containerfile
  packages/scripts/_v2-entry-point
  packages/scripts/entrypoint.sh
  packages/scripts/entrypoint_nestri.sh
  packages/scripts/envs.sh
  packages/scripts/supervisord.conf
  packages/server/Cargo.lock
  packages/server/Cargo.toml
  packages/server/src/args.rs
  packages/server/src/args/app_args.rs
  packages/server/src/args/device_args.rs
  packages/server/src/args/encoding_args.rs
  packages/server/src/enc_helper.rs
  packages/server/src/gpu.rs
  packages/server/src/main.rs
  packages/server/src/nestrisink/imp.rs
  packages/server/src/nestrisink/mod.rs
  packages/server/src/p2p/p2p.rs
  packages/server/src/p2p/p2p_protocol_stream.rs
  packages/server/src/p2p/p2p_safestream.rs
Owners: @DatCaptainHorse

Nitpick fixes
  containers/runner.Containerfile
  packages/scripts/entrypoint.sh
  packages/scripts/entrypoint_nestri.sh
  packages/scripts/supervisord.conf
  packages/server/src/gpu.rs
  packages/server/src/main.rs
Owners: @DatCaptainHorse

Nitpicks
  packages/scripts/entrypoint.sh
  packages/scripts/entrypoint_nestri.sh
Owners: @DatCaptainHorse

Last few nitpicks
  packages/scripts/entrypoint.sh
  packages/scripts/entrypoint_nestri.sh
Owners: @DatCaptainHorse

Last nitpick hopefully 2
  packages/scripts/entrypoint_nestri.sh
Owners: @DatCaptainHorse

⭐ feat(runner): More runner improvements (#294)
  .dockerignore
  containers/runner.Containerfile
  packages/scripts/_v2-entry-point
  packages/scripts/entrypoint.sh
  packages/scripts/entrypoint_nestri.sh
  packages/scripts/envs.sh
  packages/scripts/supervisord.conf
  packages/server/Cargo.lock
  packages/server/Cargo.toml
  packages/server/src/args.rs
  packages/server/src/args/app_args.rs
  packages/server/src/args/device_args.rs
  packages/server/src/args/encoding_args.rs
  packages/server/src/enc_helper.rs
  packages/server/src/gpu.rs
  packages/server/src/main.rs
  packages/server/src/nestrisink/imp.rs
  packages/server/src/nestrisink/mod.rs
  packages/server/src/p2p/p2p.rs
  packages/server/src/p2p/p2p_protocol_stream.rs
  packages/server/src/p2p/p2p_safestream.rs
Owners: @dev-team, @DatCaptainHorse

feat: Standalone play site
  packages/play-standalone/.gitignore
  packages/play-standalone/astro.config.mjs
  packages/play-standalone/package.json
  packages/play-standalone/public/favicon.svg
  packages/play-standalone/public/fonts/BasementGrotesque-Black.otf
  packages/play-standalone/public/fonts/BasementGrotesque-Black.woff
  packages/play-standalone/public/fonts/BasementGrotesque-Black.woff2
  packages/play-standalone/src/pages/[room].astro
  packages/play-standalone/tsconfig.json
Owners: @dev-team

fix: Nuke everything
  README.md
  apps/docs/sst-env.d.ts
  infra-old/api.ts
  infra-old/auth.ts
  infra-old/bus.ts
  infra-old/cluster.ts
  infra-old/dns.ts
  infra-old/email.ts
  infra-old/postgres.ts
  infra-old/realtime.ts
  infra-old/secret.ts
  infra-old/stage.ts
  infra-old/storage.ts
  infra-old/vpc.ts
  infra-old/www.ts
  infra-old/zero.ts
  infra/api.ts
  package.json
  patches/steam-session@1.9.3.patch
Owners: @dev-team, @victorpahuus, @AquaWolf, @wanjohiryan

feat: Add new web frontend
  infra/dns.ts
  infra/www.ts
  packages/web/.gitignore
  packages/web/.vscode/extensions.json
  packages/web/.vscode/launch.json
  packages/web/README.md
  packages/web/astro.config.mjs
  packages/web/bun.lock
  packages/web/config.mjs
  packages/web/package.json
  packages/web/public/favicon.svg
  packages/web/src/pages/index.astro
  packages/web/tsconfig.json
Owners: @wanjohiryan, @dev-team

🧹 chore(infra): Wipe out everything
  infra/api.ts
  infra/auth.ts
  infra/bus.ts
  infra/cluster.ts
  infra/dns.ts
  infra/email.ts
  infra/postgres.ts
  infra/realtime.ts
  infra/secret.ts
  infra/stage.ts
  infra/storage.ts
  infra/vpc.ts
  infra/www.ts
  infra/zero.ts
  packages/web/.astro/content-assets.mjs
  packages/web/.astro/content-modules.mjs
  packages/web/.astro/data-store.json
  packages/web/.astro/settings.json
  packages/web/.astro/types.d.ts
Owners: @wanjohiryan, @dev-team

📝 docs: Start work on the README
  README.md
  packages/web/public/logo.black.svg
  packages/web/public/logo.white.svg
Owners: @dev-team

🐜ð fix(readme): Removing unnecessary filetype annotation fixes media query
  README.md
Owners: @dev-team

🐜 fix(readme): Fix wording
  README.md
Owners: @dev-team

feat: Add some web stuff
  packages/web/.astro/data-store.json
  packages/web/bun.lock
  packages/web/package.json
  packages/web/public/favicon.ico
  packages/web/public/favicon.svg
  packages/web/src/layouts/Layout.astro
  packages/web/src/pages/index.astro
Owners: @dev-team

feat: Add tailwindcss
  packages/web/.astro/types.d.ts
  packages/web/astro.config.mjs
  packages/web/bun.lock
  packages/web/package.json
  packages/web/public/favicon-16x16.png
  packages/web/public/favicon-16x16.png:Zone.Identifier
  packages/web/public/favicon-32x32.png
  packages/web/public/favicon-32x32.png:Zone.Identifier
  packages/web/src/layouts/Layout.astro
  packages/web/src/pages/index.astro
  packages/web/src/styles/global.css
Owners: @dev-team

fix: Remove Windows stuff
  packages/web/public/favicon-16x16.png:Zone.Identifier
  packages/web/public/favicon-32x32.png:Zone.Identifier
Owners: @dev-team

feat: Add more stuff
  packages/web/src/pages/index.astro
  packages/web/src/styles/global.css
Owners: @dev-team

fix: Add some more stuff
  packages/web/src/layouts/Layout.astro
Owners: @dev-team

fix: Merge stuff
  README.md
Owners: @dev-team

fix: Align logo to the center
  README.md
Owners: @dev-team

.github/CODEOWNERS:

* @dev-team

/apps/ @victorpahuus @AquaWolf
/packages/ui/ @wanjohiryan @victorpahuus @AquaWolf

/protobuf/ @AquaWolf

/infra/ @wanjohiryan
/packages/core/ @wanjohiryan
/packages/functions/ @wanjohiryan

/containers/ @DatCaptainHorse
/packages/server/ @DatCaptainHorse
/packages/relay/ @DatCaptainHorse
/packages/scripts/ @DatCaptainHorse
/packages/input/ @DatCaptainHorse
