Repository nestrilabs/nestri, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dev-team, @victorpahuus, @AquaWolf, @wanjohiryan, @DatCaptainHorse

.github/CODEOWNERS:

* @dev-team

/apps/ @victorpahuus @AquaWolf
/packages/ui/ @wanjohiryan @victorpahuus @AquaWolf

/protobuf/ @AquaWolf

/infra/ @wanjohiryan
/packages/core/ @wanjohiryan
/packages/functions/ @wanjohiryan

/containers/ @DatCaptainHorse
/packages/server/ @DatCaptainHorse
/packages/relay/ @DatCaptainHorse
/packages/scripts/ @DatCaptainHorse
/packages/input/ @DatCaptainHorse

fix: Align center goddamn it
  README.md
Owners: @dev-team

fix: Remove stuff
  README.md
Owners: @dev-team

fix: Remove NEON_API_KEY reference
  .env.example
Owners: @dev-team

feat: Standalone play site
  packages/play-standalone/.gitignore
  packages/play-standalone/astro.config.mjs
  packages/play-standalone/package.json
  packages/play-standalone/public/favicon.svg
  packages/play-standalone/public/fonts/BasementGrotesque-Black.otf
  packages/play-standalone/public/fonts/BasementGrotesque-Black.woff
  packages/play-standalone/public/fonts/BasementGrotesque-Black.woff2
  packages/play-standalone/src/pages/[room].astro
  packages/play-standalone/tsconfig.json
Owners: @dev-team

Fixes and add container image
  containers/playsite.Containerfile
  packages/play-standalone/src/layouts/DefaultLayout.astro
  packages/play-standalone/src/pages/[room].astro
Owners: @DatCaptainHorse, @dev-team

Final fixes and ready
  containers/playsite.Containerfile
  packages/play-standalone/astro.config.mjs
  packages/play-standalone/package.json
  packages/play-standalone/src/layouts/DefaultLayout.astro
  packages/play-standalone/src/pages/[room].astro
Owners: @DatCaptainHorse, @dev-team

feat(play-standalone): Add PEER_URL env variable
  packages/play-standalone/.containerignore
  packages/play-standalone/astro.config.mjs
  packages/play-standalone/src/pages/[room].astro
Owners: @dev-team

feat(runner): Improved container handling and updates
  containerfiles/runner.Containerfile
  packages/scripts/common.sh
  packages/scripts/container_helpers.sh
  packages/scripts/entrypoint.sh
  packages/scripts/entrypoint_nestri.sh
  packages/scripts/envs.sh
  packages/scripts/supervisord.conf
  packages/server/Cargo.lock
  packages/server/Cargo.toml
  packages/server/src/args.rs
  packages/server/src/args/app_args.rs
  packages/server/src/args/encoding_args.rs
  packages/server/src/enc_helper.rs
  packages/server/src/gpu.rs
  packages/server/src/main.rs
  packages/server/src/p2p/p2p.rs
  packages/server/src/p2p/p2p_safestream.rs
Owners: @dev-team, @DatCaptainHorse

Fix some nitpicks
  containerfiles/runner.Containerfile
  packages/scripts/container_helpers.sh
  packages/scripts/entrypoint.sh
  packages/scripts/entrypoint_nestri.sh
  packages/scripts/envs.sh
  packages/server/Cargo.toml
  packages/server/rust-toolchain.toml
  packages/server/src/gpu.rs
Owners: @dev-team, @DatCaptainHorse

Fix nestri user pwd generation
  containerfiles/runner.Containerfile
Owners: @dev-team

Nitpick fixes, cleaning up and solidifying changes.
  containerfiles/runner.Containerfile
  packages/configs/pipewire.conf.d/nestri-low-latency.conf
  packages/configs/steam/config.vdf
  packages/configs/wireplumber.conf.d/nestri-low-latency.conf
  packages/scripts/common.sh
  packages/scripts/container_helpers.sh
  packages/scripts/entrypoint.sh
  packages/scripts/entrypoint_nestri.sh
  packages/server/src/args.rs
  packages/server/src/args/app_args.rs
  packages/server/src/args/device_args.rs
  packages/server/src/args/encoding_args.rs
  packages/server/src/enc_helper.rs
  packages/server/src/gpu.rs
  packages/server/src/main.rs
  packages/server/src/nestrisink/imp.rs
  packages/server/src/p2p.rs
  packages/server/src/p2p/p2p.rs
  packages/server/src/proto/proto.rs
Owners: @dev-team, @DatCaptainHorse

Add missing loopback module config
  packages/configs/pipewire.conf.d/nestri-loopback.conf
  packages/configs/wireplumber.conf.d/nestri-low-latency.conf
Owners: @dev-team

Nitpicks and fixes
  packages/scripts/container_helpers.sh
  packages/scripts/entrypoint.sh
  packages/scripts/supervisord.conf
  packages/server/src/args/device_args.rs
  packages/server/src/args/encoding_args.rs
  packages/server/src/enc_helper.rs
  packages/server/src/gpu.rs
  packages/server/src/main.rs
Owners: @DatCaptainHorse

Hopefully last nitpicks
  packages/server/src/args/encoding_args.rs
  packages/server/src/main.rs
Owners: @DatCaptainHorse

Last nitpicks
  packages/server/src/main.rs
Owners: @DatCaptainHorse
