Repository nestrilabs/nestri, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dev-team, @victorpahuus, @AquaWolf, @wanjohiryan, @DatCaptainHorse

.github/CODEOWNERS:

* @dev-team

/apps/ @victorpahuus @AquaWolf
/packages/ui/ @wanjohiryan @victorpahuus @AquaWolf

/protobuf/ @AquaWolf

/infra/ @wanjohiryan
/packages/core/ @wanjohiryan
/packages/functions/ @wanjohiryan

/containers/ @DatCaptainHorse
/packages/server/ @DatCaptainHorse
/packages/relay/ @DatCaptainHorse
/packages/scripts/ @DatCaptainHorse
/packages/input/ @DatCaptainHorse

fix: Fix bg colors
  packages/www/src/pages/team/header.tsx
  packages/www/src/pages/team/home.tsx
  packages/www/src/pages/team/index.tsx
  packages/www/src/ui/theme.ts
Owners: @dev-team

feat: Vertical tabs
  packages/www/src/pages/team/home.tsx
Owners: @dev-team

feat: Horizontal tabs
  packages/www/src/pages/team/home.tsx
Owners: @dev-team

relay docker compose files
  containers/docker-compose.relay.caddy.yml
  containers/docker-compose.relay.traefik.yml
  docker-compose.yml
Owners: @DatCaptainHorse, @dev-team

updated documentation and compose files
  apps/docs/content/3.nestri-relay/2.selfhosted-nestri-relay.md
  containers/docker-compose.relay.caddy.yml
  containers/docker-compose.relay.traefik.yml
Owners: @victorpahuus, @AquaWolf, @DatCaptainHorse

feat: Finish up on the Steam route
  packages/www/src/pages/team/header.tsx
  packages/www/src/pages/team/home.tsx
  packages/www/src/pages/team/index.tsx
  packages/www/src/pages/team/steam.tsx
  packages/www/src/ui/theme.ts
Owners: @dev-team

fix: Fix where the links lead to
  packages/www/src/pages/team/header.tsx
Owners: @dev-team

added caddyfile
  apps/docs/content/3.nestri-relay/2.selfhosted-nestri-relay.md
  containers/Caddyfile
Owners: @victorpahuus, @AquaWolf, @DatCaptainHorse

feat: Add going back to homepage
  packages/www/src/pages/team/header.tsx
Owners: @dev-team

feat: Add SSE server for Steam Login
  packages/steam/.gitignore
  packages/steam/Program.cs
  packages/steam/Properties/launchSettings.json
  packages/steam/appsettings.Development.json
  packages/steam/appsettings.json
  packages/steam/steam.csproj
  packages/steam/testing.html
Owners: @dev-team

feat: Add steam authentication
  infra/steam.ts
  infra/www.ts
  nestri.sln
  packages/steam/Program.cs
  packages/www/src/pages/team/index.tsx
  packages/www/src/pages/team/steam.tsx
  packages/www/src/providers/steam.tsx
Owners: @wanjohiryan, @dev-team

feat: Add Steam
  bun.lock
  infra/steam.ts
  packages/steam/Program.cs
  packages/steam/SteamService.cs
  packages/steam/steam.csproj
  packages/www/package.json
  packages/www/src/pages/team/steam.tsx
  packages/www/src/providers/steam.tsx
Owners: @dev-team, @wanjohiryan

fix: This works
  packages/functions/sst-env.d.ts
  packages/steam/Program.cs
  packages/www/src/pages/team/home.tsx
  packages/www/src/sst-env.d.ts
  sst-env.d.ts
Owners: @wanjohiryan, @dev-team

fix: Fix the authorize function for our Steam server
  packages/steam/Program.cs
Owners: @dev-team

fix: Do not do JWT verification twice
  packages/steam/Program.cs
Owners: @dev-team

fix: Tidy up the comments
  packages/steam/Program.cs
Owners: @dev-team

fix: Enlarge the timeout
  packages/steam/SteamService.cs
Owners: @dev-team

feat: Add a db
  packages/steam/DBContext.cs
  packages/steam/DBSchema.cs
  packages/steam/Migrations/20250322023207_InitialCreate.Designer.cs
  packages/steam/Migrations/20250322023207_InitialCreate.cs
  packages/steam/Migrations/AppDbContextModelSnapshot.cs
  packages/steam/Program.cs
  packages/steam/SteamService.cs
  packages/steam/steam.csproj
Owners: @dev-team

feat: Add better event listeners
  packages/steam/Program.cs
  packages/steam/SSEEvents.cs
  packages/steam/SteamClient.cs
  packages/steam/SteamService.cs
Owners: @dev-team

feat: Add event listeners to the frontend
  packages/www/src/pages/team/home.tsx
  packages/www/src/providers/steam.tsx
Owners: @dev-team

fix: Remove test.html
  packages/steam/testing.html
Owners: @dev-team

fix: Try adding something
  packages/www/package.json
  packages/www/src/pages/team/home.tsx
  packages/www/src/ui/modal.tsx
Owners: @dev-team

feat: Add a custom modal element
  bun.lock
  packages/www/package.json
  packages/www/src/App.tsx
  packages/www/src/pages/team/home.tsx
  packages/www/src/pages/team/steam.tsx
  packages/www/src/ui/form.tsx
  packages/www/src/ui/modal.tsx
  packages/www/src/ui/modal/index.ts
  packages/www/src/ui/modal/modal-context.tsx
  packages/www/src/ui/modal/modal-panel.tsx
  packages/www/src/ui/modal/modal-root.tsx
  packages/www/src/ui/modal/modal-trigger.tsx
  packages/www/src/ui/modal/use-modal.tsx
Owners: @dev-team

fix: Rename showSG to show
  packages/www/src/ui/modal/modal-context.tsx
  packages/www/src/ui/modal/modal-panel.tsx
  packages/www/src/ui/modal/modal-root.tsx
  packages/www/src/ui/modal/modal-trigger.tsx
Owners: @dev-team

fix: Fix up the colors
  packages/www/src/App.tsx
  packages/www/src/pages/team/header.tsx
  packages/www/src/pages/team/home.tsx
  packages/www/src/ui/form.tsx
  packages/www/src/ui/theme.ts
Owners: @dev-team

fix: Fix the root colors
  packages/www/index.html
  packages/www/src/App.tsx
Owners: @dev-team

feat: Add some animation
  packages/www/package.json
  packages/www/src/pages/team/header.tsx
  packages/www/src/pages/team/home.tsx
  packages/www/src/ui/custom-qr.tsx
  packages/www/src/ui/theme.ts
Owners: @dev-team

fix: Change the wording for Steam login
  packages/www/src/pages/team/home.tsx
Owners: @dev-team

feat: Add the Steam logo at the center
  packages/www/src/pages/team/home.tsx
  packages/www/src/ui/custom-qr.tsx
Owners: @dev-team

feat: Add some gameplay ui
  packages/www/src/pages/team/header.tsx
  packages/www/src/pages/team/home.tsx
  packages/www/src/ui/layout.tsx
Owners: @dev-team

fix: Add some games:
  packages/www/src/pages/team/header.tsx
  packages/www/src/pages/team/home.tsx
  packages/www/src/ui/layout.tsx
Owners: @dev-team

feat: Add some machine, and search icons
  packages/www/src/pages/team/header.tsx
Owners: @dev-team

fix: Use square covers
  packages/www/src/App.tsx
  packages/www/src/pages/team/header.tsx
  packages/www/src/pages/team/home.tsx
  packages/www/src/pages/team/index.tsx
  packages/www/src/ui/layout.tsx
Owners: @dev-team

fix: Partial finish
  packages/www/src/App.tsx
  packages/www/src/pages/team/header.tsx
  packages/www/src/pages/team/home.tsx
  packages/www/src/pages/team/index.tsx
Owners: @dev-team

fix: Remove all references to Neon
  bun.lock
  infra/database.ts
Owners: @dev-team, @wanjohiryan

feat(ci): Deploy nestri landing page
  .github/workflows/www.yml
Owners: @dev-team

fix: Add recursion
  .github/workflows/www.yml
Owners: @dev-team

⭐ feat(ci): Deploy nestri landing page (#214)
  .github/workflows/www.yml
Owners: @dev-team

🏇 ci(www): Test whether it is working
  .github/workflows/www.yml
Owners: @dev-team

fix: WIP
  .github/workflows/www.yml
Owners: @dev-team
