Repository nestrilabs/nestri, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dev-team, @victorpahuus, @AquaWolf, @wanjohiryan, @DatCaptainHorse

.github/CODEOWNERS:

* @dev-team

/apps/ @victorpahuus @AquaWolf
/packages/ui/ @wanjohiryan @victorpahuus @AquaWolf

/protobuf/ @AquaWolf

/infra/ @wanjohiryan
/packages/core/ @wanjohiryan
/packages/functions/ @wanjohiryan

/containers/ @DatCaptainHorse
/packages/server/ @DatCaptainHorse
/packages/relay/ @DatCaptainHorse
/packages/scripts/ @DatCaptainHorse
/packages/input/ @DatCaptainHorse

fix: Add webhook endpoint
  infra/api.ts
  infra/secret.ts
  packages/core/src/polar/index.ts
  packages/functions/src/api/polar.ts
  packages/functions/sst-env.d.ts
  sst-env.d.ts
Owners: @wanjohiryan, @dev-team

⭐ feat(steam): Login from the frontend
  packages/steam/SteamAuthService.cs
Owners: @dev-team

fix: Fix styling
  packages/steam/SteamAuthService.cs
Owners: @dev-team

wip
  packages/core/src/examples.ts
  packages/core/src/steam/index.ts
  packages/core/src/steam/steam.sql.ts
  packages/core/src/utils/id.ts
Owners: @wanjohiryan

wip
  packages/scripts/src/db-reset.sh
  packages/scripts/src/psql.sh
Owners: @DatCaptainHorse

fix: QoL updates
  packages/core/src/polar/index.ts
Owners: @wanjohiryan

feat: Use Cloudfront
  infra/api.ts
  infra/auth.ts
Owners: @wanjohiryan

fix: Add rabbit nitpicks
  packages/functions/src/api/polar.ts
  packages/functions/src/api/team.ts
Owners: @wanjohiryan

fix: Migrate auth to CF as well
  infra/api.ts
  infra/auth.ts
Owners: @wanjohiryan

fix: Add comments
  infra/api.ts
  infra/auth.ts
Owners: @wanjohiryan

wip
  packages/scripts/src/db-reset.sh
  packages/scripts/src/psql.sh
Owners: @DatCaptainHorse

wip
  infra/api.ts
Owners: @wanjohiryan

⭐ feat(api): Add payments with Polar.sh (#264)
  infra/api.ts
  infra/auth.ts
  infra/secret.ts
  packages/core/migrations/0006_worthless_dreadnoughts.sql
  packages/core/migrations/0007_warm_secret_warriors.sql
  packages/core/migrations/0008_third_mindworm.sql
  packages/core/migrations/0009_luxuriant_wraith.sql
  packages/core/migrations/meta/0006_snapshot.json
  packages/core/migrations/meta/0007_snapshot.json
  packages/core/migrations/meta/0008_snapshot.json
  packages/core/migrations/meta/0009_snapshot.json
  packages/core/migrations/meta/_journal.json
  packages/core/src/actor.ts
  packages/core/src/common.ts
  packages/core/src/drizzle/types.ts
  packages/core/src/examples.ts
  packages/core/src/member/index.ts
  packages/core/src/member/member.sql.ts
  packages/core/src/polar/index.ts
  packages/core/src/polar/polar.sql.ts.test
  packages/core/src/steam/steam.sql.ts
  packages/core/src/subscription/index.ts
  packages/core/src/subscription/subscription.sql.ts
  packages/core/src/team/index.ts
  packages/core/src/team/team.sql.ts
  packages/core/src/user/index.ts
  packages/core/src/utils/id.ts
  packages/functions/src/api/auth.ts
  packages/functions/src/api/index.ts
  packages/functions/src/api/polar.ts
  packages/functions/src/api/subscription.ts
  packages/functions/src/api/team.ts
  packages/functions/sst-env.d.ts
  packages/scripts/src/db-reset.sh
  packages/scripts/src/psql.sh
  packages/www/src/pages/new.tsx
  packages/www/src/pages/team/header.tsx
  packages/www/src/pages/team/index.tsx
  packages/www/src/ui/form.tsx
  sst-env.d.ts
Owners: @wanjohiryan, @DatCaptainHorse, @dev-team

⭐ feat(core): Add usage billing
  packages/core/package.json
  packages/core/src/billing/bandwidth.ts
  packages/core/src/billing/gpu.ts
  packages/core/src/billing/index.ts
  packages/core/src/billing/storage.ts
Owners: @wanjohiryan

feat: Add some foundation
  bun.lock
  packages/core/src/billing/bandwidth.ts
  packages/core/src/billing/billing.sql.ts
  packages/core/src/billing/gpu.ts
  packages/core/src/billing/index.ts
  packages/core/src/billing/storage.ts
  packages/core/src/examples.ts
  packages/core/src/member/member.sql.ts
  packages/core/src/utils/id.ts
Owners: @dev-team, @wanjohiryan

⭐ feat(api): Add payments with Polar.sh (#264)
  infra/api.ts
  infra/auth.ts
  infra/secret.ts
  packages/core/migrations/0006_worthless_dreadnoughts.sql
  packages/core/migrations/0007_warm_secret_warriors.sql
  packages/core/migrations/0008_third_mindworm.sql
  packages/core/migrations/0009_luxuriant_wraith.sql
  packages/core/migrations/meta/0006_snapshot.json
  packages/core/migrations/meta/0007_snapshot.json
  packages/core/migrations/meta/0008_snapshot.json
  packages/core/migrations/meta/0009_snapshot.json
  packages/core/migrations/meta/_journal.json
  packages/core/src/actor.ts
  packages/core/src/common.ts
  packages/core/src/drizzle/types.ts
  packages/core/src/examples.ts
  packages/core/src/member/index.ts
  packages/core/src/member/member.sql.ts
  packages/core/src/polar/index.ts
  packages/core/src/polar/polar.sql.ts.test
  packages/core/src/steam/steam.sql.ts
  packages/core/src/subscription/index.ts
  packages/core/src/subscription/subscription.sql.ts
  packages/core/src/team/index.ts
  packages/core/src/team/team.sql.ts
  packages/core/src/user/index.ts
  packages/core/src/utils/id.ts
  packages/functions/src/api/auth.ts
  packages/functions/src/api/index.ts
  packages/functions/src/api/polar.ts
  packages/functions/src/api/subscription.ts
  packages/functions/src/api/team.ts
  packages/functions/sst-env.d.ts
  packages/www/src/pages/new.tsx
  packages/www/src/pages/team/header.tsx
  packages/www/src/pages/team/index.tsx
  packages/www/src/ui/form.tsx
  sst-env.d.ts
Owners: @wanjohiryan, @dev-team

fix: Add stuff that i dunno
  packages/www/package.json
  packages/www/src/App.tsx
  packages/www/src/pages/steam.tsx
  packages/www/src/providers/account.tsx
  packages/www/src/providers/realtime.tsx
Owners: @dev-team

fix: Fix actor-core by using a global package
  bun.lock
  package.json
  packages/functions/package.json
  packages/functions/src/api/realtime/actor-core.ts
  packages/functions/src/api/realtime/counter.ts
  packages/functions/src/api/realtime/index.ts
  packages/www/package.json
  packages/www/src/pages/steam.tsx
  packages/www/src/providers/realtime.tsx
Owners: @dev-team, @wanjohiryan

feat: Add shared volume
  infra/api.ts
  infra/steam.ts
  packages/functions/Containerfile
  packages/steam/Containerfile
Owners: @wanjohiryan, @dev-team

fix: Add fixes to our changes
  infra/api.ts
  infra/auth.ts
Owners: @wanjohiryan

fix: Add some more
  infra/api.ts
Owners: @wanjohiryan

fix: Fix some more stuff
  infra/api.ts
  infra/auth.ts
  infra/www.ts
  packages/functions/src/api/index.ts
  packages/www/src/providers/account.tsx
  packages/www/src/providers/api.tsx
  packages/www/src/providers/steam.tsx
  packages/www/src/providers/zero.tsx
Owners: @wanjohiryan, @dev-team

feat: Add some realtime endpoints bruv
  bun.lock
  package.json
  packages/core/src/team/index.ts
  packages/functions/package.json
  packages/functions/src/api/index.ts
  packages/functions/src/api/realtime/index.ts
  packages/www/src/App.tsx
  packages/www/src/components/qr-code.tsx
  packages/www/src/pages/steam.tsx
  packages/www/src/pages/team/home.tsx
  packages/www/src/pages/team/index.tsx
  packages/www/src/pages/team/steam.tsx
Owners: @dev-team, @wanjohiryan

feat: Add login auth logic
  bun.lock
  packages/core/src/examples.ts
  packages/core/src/member/index.ts
  packages/core/src/steam/index.ts
  packages/core/src/steam/steam.sql.ts
  packages/core/src/subscription/index.ts
  packages/core/src/team/index.ts
  packages/core/src/user/index.ts
  packages/functions/package.json
  packages/functions/src/api/realtime/counter.ts
  packages/functions/src/api/realtime/index.ts
  packages/functions/src/api/realtime/steam.ts
  packages/steam/SteamAuthService.cs
  packages/steam/index.ts
  packages/steam/package.json
  packages/www/src/pages/steam.tsx
Owners: @dev-team, @wanjohiryan

fix: Fix the wrongs
  packages/core/src/user/index.ts
  packages/functions/src/api/realtime/steam.ts
  packages/steam/index.ts
  packages/www/src/pages/steam.tsx
Owners: @wanjohiryan, @dev-team

feat: I fucking dunno what am doing wrong
  packages/functions/src/api/realtime/steam.ts
  packages/steam/SteamAuthService.cs
  packages/steam/index.ts
  packages/steam/package.json
  packages/steam/terminal.ts
  packages/www/src/App.tsx
  packages/www/src/pages/steam.tsx
Owners: @wanjohiryan, @dev-team

feat: The purge, remove all dotnet virusgit add .!
  nestri.sln
  packages/steam/.gitignore
  packages/steam/Containerfile
  packages/steam/HttpClientFactory.cs
  packages/steam/MachineInfo.cs
  packages/steam/Program.cs
  packages/steam/Properties/launchSettings.json
  packages/steam/README.md
  packages/steam/SteamAuthService.cs
  packages/steam/appsettings.Development.json
  packages/steam/appsettings.json
  packages/steam/index.ts
  packages/steam/package.json
  packages/steam/sst-env.d.ts
  packages/steam/steam.csproj
  packages/steam/steam.http
  packages/steam/terminal.ts
Owners: @dev-team

feat: Initial Steam migration(s)
  bun.lock
  infra/api.ts
  infra/auth.ts
  package.json
  packages/core/package.json
  packages/core/src/examples.ts
  packages/core/src/steam/index.ts
  packages/core/src/steam/steam.sql.ts
  packages/functions/package.json
  packages/functions/src/api/steam.ts
  packages/steam/sst-env.d.ts
Owners: @dev-team, @wanjohiryan

fix: Add some more steam API stuff
  packages/core/src/examples.ts
  packages/core/src/steam/client.ts
  packages/core/src/steam/index.ts
  packages/core/src/steam/steam.sql.ts
  packages/core/src/steam/types.ts
Owners: @wanjohiryan

fix: Remove Steam stuff
  packages/core/src/steam/index.ts
  packages/core/src/steam/steam.sql.ts
  packages/steam/.gitignore
  packages/steam/README.md
  packages/steam/index.ts
  packages/steam/package.json
  packages/steam/sst-env.d.ts
  packages/steam/tsconfig.json
Owners: @wanjohiryan, @dev-team

fix: Fix review comments
  packages/core/src/steam/client.ts
  packages/core/src/steam/index.ts
  packages/functions/src/api/steam.ts
Owners: @wanjohiryan

feat: Add friends
  packages/core/src/examples.ts
  packages/core/src/friends/friends.sql.ts
  packages/core/src/friends/index.ts
  packages/core/src/steam/index.ts
  packages/core/src/steam/steam.sql.ts
  packages/core/src/team/index.ts
  packages/core/src/utils/id.ts
  packages/functions/src/api/steam.ts
Owners: @wanjohiryan

fix: Remove unnecessary env variables
  .env.example
  docker-compose.yml
Owners: @dev-team

feat: Add games, game library, and game genres
  packages/core/src/examples.ts
  packages/core/src/friend/friend.sql.ts
  packages/core/src/friend/index.ts
  packages/core/src/game/game.sql.ts
  packages/core/src/steam/client.ts
  packages/core/src/steam/types.ts
  packages/core/src/utils/id.ts
  packages/functions/src/api/steam.ts
Owners: @wanjohiryan

feat: Add library, genres and friends
  bun.lock
  packages/core/package.json
  packages/core/src/examples.ts
  packages/core/src/friend/friend.sql.ts
  packages/core/src/friend/index.ts
  packages/core/src/game/game.sql.ts
  packages/core/src/game/index.ts
  packages/core/src/library/index.ts
  packages/core/src/library/library.sql.ts
  packages/core/src/steam/index.ts
  packages/core/src/user/index.ts
  packages/core/src/user/user.sql.ts
  packages/functions/package.json
Owners: @dev-team, @wanjohiryan

fix: Fix some stuff
  packages/core/src/examples.ts
  packages/core/src/friend/index.ts
  packages/core/src/library/index.ts
  packages/functions/src/api/steam.ts
Owners: @wanjohiryan

feat: We continue tomorrow
  packages/functions/src/api/steam.ts
Owners: @wanjohiryan

fix: Fix bugs by rabbit
  packages/core/src/drizzle/transaction.ts
  packages/core/src/game/index.ts
  packages/core/src/steam/index.ts
  packages/functions/src/api/steam.ts
Owners: @wanjohiryan

fix: Add some stricter TS rules
  packages/core/src/actor.ts
  packages/core/src/common.ts
  packages/core/src/game/game.sql.ts
  packages/core/src/polar/index.ts
  packages/core/src/steam/client.ts
  packages/core/src/team/index.ts
  packages/core/src/user/user.sql.ts
  packages/core/tsconfig.json
Owners: @wanjohiryan

feat: Add more routes
  packages/core/src/examples.ts
  packages/core/src/friend/index.ts
  packages/core/src/game/index.ts
  packages/core/src/library/index.ts
  packages/core/src/member/index.ts
  packages/core/src/member/member.sql.ts
  packages/core/src/steam/index.ts
  packages/core/src/subscription/index.ts
  packages/core/src/team/index.ts
  packages/core/src/user/index.ts
  packages/core/src/user/user.sql.ts
  packages/functions/src/api/account.ts
  packages/functions/src/api/friend.ts
  packages/functions/src/api/game.ts
  packages/functions/src/api/index.ts
  packages/functions/src/api/steam.ts
  packages/functions/src/api/subscription.ts
  packages/functions/src/api/team.ts
Owners: @wanjohiryan
