Repository nestrilabs/nestri, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dev-team, @victorpahuus, @AquaWolf, @wanjohiryan, @DatCaptainHorse

fix: Use image jsx
  apps/www/src/routes/(public)/index.tsx
  apps/www/vite.config.ts
Owners: @victorpahuus, @AquaWolf

fix: Prefetching the login url gives us some troubles
  apps/www/src/routes/(public)/index.tsx
Owners: @victorpahuus, @AquaWolf

fix: What is happening?
  apps/www/src/routes/(public)/index.tsx
Owners: @victorpahuus, @AquaWolf

fix: Do not prefetch dummy
  apps/www/src/routes/(public)/index.tsx
  packages/ui/src/nav-bar.tsx
Owners: @victorpahuus, @AquaWolf, @wanjohiryan

feat: Add a footer
  apps/www/src/routes/(public)/index.tsx
  packages/ui/src/footer.tsx
  packages/ui/src/index.ts
  packages/ui/src/nav-bar.tsx
  packages/ui/src/react/footer.tsx
Owners: @victorpahuus, @AquaWolf, @wanjohiryan

fix: Remove unusable props
  apps/www/src/routes/(public)/fundraiser/index.tsx
Owners: @victorpahuus, @AquaWolf

DMA-BUF support (for NVIDIA) and improvements
  packages/server/src/args/device_args.rs
  packages/server/src/args/encoding_args.rs
  packages/server/src/enc_helper.rs
  packages/server/src/gpu.rs
  packages/server/src/main.rs
Owners: @DatCaptainHorse

Fix sudo usage
  packages/scripts/entrypoint_nestri.sh
Owners: @DatCaptainHorse

How come I forgot this
  containers/runner.Containerfile
Owners: @DatCaptainHorse

fix: Fix some mistakes
  apps/www/src/routes/(public)/index.tsx
  apps/www/src/routes/(public)/pricing/index.tsx
  packages/ui/src/nav-bar.tsx
  packages/ui/src/react/footer.tsx
  packages/ui/src/react/hero-section.tsx
  packages/ui/src/react/title-section.tsx
Owners: @victorpahuus, @AquaWolf, @wanjohiryan

feat: Add the first section
  apps/www/src/routes/(public)/index.tsx
  apps/www/src/routes/(public)/pricing/index.tsx
  packages/ui/package.json
  packages/ui/src/fonts.tsx
  packages/ui/src/react/footer.tsx
  packages/ui/src/react/hero-section.tsx
Owners: @victorpahuus, @AquaWolf, @wanjohiryan

fix: Fix the dimensions
  apps/www/src/routes/(public)/index.tsx
Owners: @victorpahuus, @AquaWolf

feat: Add browsers
  apps/www/src/routes/(public)/index.tsx
Owners: @victorpahuus, @AquaWolf

feat: Add illustrations
  apps/www/src/routes/(public)/index.tsx
Owners: @victorpahuus, @AquaWolf

feat: Finish up the feature
  apps/www/public/images/avatars/dathorse.png
  apps/www/public/images/avatars/janried.png
  apps/www/public/images/avatars/victor.png
  apps/www/public/images/avatars/wanjohi.png
  apps/www/public/images/screenshots/doom.png
  apps/www/src/routes/(public)/index.tsx
Owners: @victorpahuus, @AquaWolf

feat: Use a gif
  apps/www/public/images/screenshots/movie.avifs
  apps/www/public/images/screenshots/multiplayer.png
  apps/www/src/routes/(public)/index.tsx
Owners: @victorpahuus, @AquaWolf

feat: finish up on feature one
  apps/www/src/routes/(public)/index.tsx
Owners: @victorpahuus, @AquaWolf

feat: Add the second feature
  apps/www/src/routes/(public)/index.tsx
  packages/ui/src/svg.tsx
Owners: @victorpahuus, @AquaWolf, @wanjohiryan

feat:Add second feature
  apps/www/src/routes/(public)/index.tsx
  packages/ui/src/react/footer.tsx
Owners: @victorpahuus, @AquaWolf, @wanjohiryan

feat: Add the last feature
  apps/www/src/routes/(public)/index.tsx
Owners: @victorpahuus, @AquaWolf

fix: Get things ready for merging
  apps/www/src/routes/(play)/play/[id]/index.tsx
  apps/www/src/routes/(public)/index.tsx
  apps/www/src/routes/watch/[id]/index.tsx
  packages/ui/src/home/games.tsx
Owners: @victorpahuus, @AquaWolf, @wanjohiryan

feat: Last one
  apps/www/src/routes/(public)/index.tsx
Owners: @victorpahuus, @AquaWolf

fix: Add mobile support
  apps/www/src/routes/(public)/index.tsx
Owners: @victorpahuus, @AquaWolf

feat: Add last one
  apps/www/src/routes/(public)/index.tsx
Owners: @victorpahuus, @AquaWolf

⭐ feat(runner): DMA-BUF support (for NVIDIA) (#181)
  containers/runner.Containerfile
  packages/scripts/entrypoint_nestri.sh
  packages/server/src/args/device_args.rs
  packages/server/src/args/encoding_args.rs
  packages/server/src/enc_helper.rs
  packages/server/src/gpu.rs
  packages/server/src/main.rs
Owners: @DatCaptainHorse

fis(www): Fix GPU lines on iOS
  apps/www/src/routes/(public)/index.tsx
Owners: @victorpahuus, @AquaWolf

fix: Adjust the paths
  apps/www/src/routes/(public)/index.tsx
Owners: @victorpahuus, @AquaWolf

fix: Fix up the stuff
  apps/www/src/routes/(public)/index.tsx
Owners: @victorpahuus, @AquaWolf

fix even more
  apps/www/src/routes/(public)/index.tsx
Owners: @victorpahuus, @AquaWolf

fix: I have identified where the issue was
  apps/www/src/routes/(public)/index.tsx
Owners: @victorpahuus, @AquaWolf

fix: Height
  apps/www/src/routes/(public)/index.tsx
  packages/ui/src/react/footer.tsx
Owners: @victorpahuus, @AquaWolf, @wanjohiryan

🐜 fix(www): Fix GPU lines on iOS (#183)
  apps/www/src/routes/(public)/index.tsx
  packages/ui/src/react/footer.tsx
Owners: @victorpahuus, @AquaWolf, @wanjohiryan

Initial work
  packages/maitred/go.mod
  packages/maitred/go.sum
  packages/maitred/internal/auth/auth.go
  packages/maitred/internal/containerapi/container.go
  packages/maitred/internal/flags.go
  packages/maitred/internal/party/logger.go
  packages/maitred/internal/party/party.go
  packages/maitred/internal/party/utils.go
  packages/maitred/internal/resource/resource.go
  packages/maitred/main.go
Owners: @dev-team

mouse movements are now sent out with a constant rate of 10ms
  packages/input/src/mouse.ts
Owners: @DatCaptainHorse

60fps interval
  packages/input/src/mouse.ts
Owners: @DatCaptainHorse

getting fps value from stream
  packages/input/src/mouse.ts
  packages/input/src/webrtc-stream.ts
Owners: @DatCaptainHorse

⭐ feat: Aggregated mouse movements (#185)
  packages/input/src/mouse.ts
  packages/input/src/webrtc-stream.ts
Owners: @DatCaptainHorse

fix: Add docs
  apps/docs/.eslintrc.json
  apps/docs/.gitignore
  apps/docs/README.md
  apps/docs/app/(home)/layout.tsx
  apps/docs/app/(home)/page.tsx
  apps/docs/app/api/search/route.ts
  apps/docs/app/docs/[[...slug]]/page.tsx
  apps/docs/app/docs/layout.tsx
  apps/docs/app/global.css
  apps/docs/app/layout.config.tsx
  apps/docs/app/layout.tsx
  apps/docs/content/docs/index.mdx
  apps/docs/content/docs/test.mdx
  apps/docs/lib/source.ts
  apps/docs/next.config.mjs
  apps/docs/package.json
  apps/docs/postcss.config.mjs
  apps/docs/source.config.ts
  apps/docs/tsconfig.json
  packages/functions/sst-env.d.ts
  sst-env.d.ts
  sst.config.ts
Owners: @victorpahuus, @AquaWolf, @wanjohiryan, @dev-team

fix: Tailwindcss
  apps/console/astro.config.mjs
  apps/console/package.json
  apps/console/public/fonts/Geist.ttf
  apps/console/public/fonts/GeistMono.ttf
  apps/console/public/fonts/MonaSansVF-Regular.ttf
  apps/console/public/fonts/MonaSansVF-Regular.woff
  apps/console/public/fonts/MonaSansVF-Regular.woff2
  apps/console/public/seo/android-chrome-192x192.png
  apps/console/public/seo/android-chrome-512x512.png
  apps/console/public/seo/apple-touch-icon.png
  apps/console/public/seo/banner.png
  apps/console/public/seo/browserconfig.xml
  apps/console/public/seo/code.avif
  apps/console/public/seo/favicon-16x16.png
  apps/console/public/seo/favicon-32x32.png
  apps/console/public/seo/favicon.ico
  apps/console/public/seo/image.png
  apps/console/public/seo/mstile-150x150.png
  apps/console/public/seo/safari-pinned-tab.svg
  apps/console/public/seo/site.webmanifest
  apps/console/src/components/Welcome.astro
  apps/console/src/layouts/Layout.astro
  apps/console/src/styles/global.css
  apps/console/tailwind.config.ts
  apps/console/tsconfig.json
Owners: @victorpahuus, @AquaWolf

fix: WIP
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/qwik-city.code-snippets
  .vscode/qwik.code-snippets
  .vscode/settings.json
  packages/console/.gitignore
  packages/console/README.md
  packages/console/package.json
  packages/console/src/index.ts
  packages/console/src/main.tsx
  packages/console/tsconfig.json
  packages/ui/.eslintrc.cjs
  packages/ui/src/testing.astro
  packages/www/astro.config.mjs
  packages/www/eslint.config.mjs
  packages/www/package.json
  packages/www/src/components/Welcome.astro
  packages/www/src/cui/auth.ts
  packages/www/src/cui/pages/page.tsx
  packages/www/src/pages/new.astro
  packages/www/tailwind.config.js
  packages/www/tailwind.config.ts
  packages/www/tsconfig.json
  sst.config.ts
Owners: @dev-team, @wanjohiryan, @victorpahuus, @AquaWolf

.github/CODEOWNERS:

* @dev-team

/apps/ @victorpahuus @AquaWolf
/packages/ui/ @wanjohiryan @victorpahuus @AquaWolf

/protobuf/ @AquaWolf

/infra/ @wanjohiryan
/packages/core/ @wanjohiryan
/packages/functions/ @wanjohiryan

/containers/ @DatCaptainHorse
/packages/server/ @DatCaptainHorse
/packages/relay/ @DatCaptainHorse
/packages/scripts/ @DatCaptainHorse
/packages/input/ @DatCaptainHorse
