Repository nestrilabs/nestri, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dev-team, @victorpahuus, @AquaWolf, @wanjohiryan, @DatCaptainHorse

.github/CODEOWNERS:

* @dev-team

/apps/ @victorpahuus @AquaWolf
/packages/ui/ @wanjohiryan @victorpahuus @AquaWolf

/protobuf/ @AquaWolf

/infra/ @wanjohiryan
/packages/core/ @wanjohiryan
/packages/functions/ @wanjohiryan

/containers/ @DatCaptainHorse
/packages/server/ @DatCaptainHorse
/packages/relay/ @DatCaptainHorse
/packages/scripts/ @DatCaptainHorse
/packages/input/ @DatCaptainHorse

ci: Make sure the runner CI runs when 'nestri-server' changes
  .github/workflows/runner.yml
Owners: @dev-team

⭐ feat(maitred): Update maitred - hookup to the API
  infra/realtime.ts
  packages/functions/src/party/authorizer.ts
  packages/functions/src/realtime/authorizer.ts
  packages/functions/src/realtime/create.ts
  packages/functions/src/realtime/subscriber.ts
  packages/functions/src/subjects.ts
  packages/maitred/internal/auth/auth.go
  packages/maitred/internal/realtime/logger.go
  packages/maitred/internal/realtime/realtime.go
  packages/maitred/internal/realtime/utils.go
  packages/maitred/internal/resource/resource.go
  packages/maitred/main.go
  packages/maitred/package.json
Owners: @wanjohiryan, @dev-team

fix: Add tasks
  packages/core/src/examples.ts
  packages/core/src/machine/machine.sql.todo
  packages/core/src/session/what.todo
  packages/core/src/task/index.ts
  packages/core/src/task/task.sql.ts
  packages/core/src/team/index.ts
  packages/core/src/utils/id.ts
  packages/functions/src/auth.ts
  packages/functions/src/realtime/authorizer.ts
  packages/functions/src/subjects.ts
  packages/functions/sst-env.d.ts
  packages/maitred/internal/auth/auth.go
  packages/maitred/internal/realtime/realtime.go
  packages/maitred/internal/resource/resource.go
  packages/maitred/main.go
  packages/maitred/sst-env.d.ts
  sst-env.d.ts
Owners: @wanjohiryan, @dev-team

feat: Add remove
  packages/core/src/member/index.ts
  packages/core/src/task/index.ts
  packages/core/src/user/index.ts
Owners: @wanjohiryan

added first draft of the play route
  packages/www/package.json
  packages/www/src/App.tsx
  packages/www/src/index.tsx
  packages/www/src/pages/play.tsx
Owners: @dev-team

right parameter
  packages/www/src/App.tsx
Owners: @dev-team

feat: Use maitred on host
  packages/core/src/examples.ts
  packages/core/src/machine/index.ts
  packages/core/src/machine/machine.sql.todo
  packages/core/src/machine/machine.sql.ts
  packages/core/src/member/index.ts
  packages/core/src/session/what.todo
  packages/core/src/task/index.ts
  packages/core/src/task/task.sql.todo
  packages/core/src/task/task.sql.ts
  packages/core/src/team/index.ts
  packages/core/src/utils/id.ts
  packages/core/src:old/actor.ts
  packages/core/src:old/aws/client.ts
  packages/core/src:old/common.ts
  packages/core/src:old/database.ts
  packages/core/src:old/email/index.ts
  packages/core/src:old/error.ts
  packages/core/src:old/examples.ts
  packages/core/src:old/game/index.ts
  packages/core/src:old/instance/index.ts
  packages/core/src:old/machine/index.ts
  packages/core/src:old/profile/index.ts
  packages/core/src:old/session/index.ts
  packages/core/src:old/subscription/index.ts
  packages/core/src:old/task/index.ts
  packages/core/src:old/team/index.ts
  packages/core/src:old/types.ts
  packages/core/src:old/user/index.ts
  packages/core/src:old/utils/fn.ts
  packages/core/src:old/utils/id.ts
  packages/core/src:old/utils/index.ts
  packages/functions/src/auth.ts
  packages/functions/src/subjects.ts
  packages/maitred/internal/auth/auth.go
  packages/maitred/internal/machine/id.go
  packages/maitred/internal/machine/utils.go
Owners: @wanjohiryan, @dev-team

fix: Fix the realtime code
  infra/realtime.ts
  packages/functions/src/auth.ts
  packages/functions/src/realtime/authorizer.ts
  packages/maitred/internal/realtime/realtime.go
  packages/maitred/package.json
Owners: @wanjohiryan, @dev-team

feat(runner): Rust updates and improvements (#196)
  .github/workflows/runner.yml
  packages/server/Cargo.lock
  packages/server/Cargo.toml
  packages/server/src/args/encoding_args.rs
  packages/server/src/enc_helper.rs
  packages/server/src/main.rs
  packages/server/src/nestrisink/imp.rs
  packages/server/src/nestrisink/mod.rs
  packages/server/src/proto.rs
  packages/server/src/proto/proto.rs
  packages/server/src/websocket.rs
Owners: @dev-team, @DatCaptainHorse

🐜 fix: Make sure the db uses the same name
  infra/database.ts
  infra:old/api.ts
  infra:old/auth.ts
  infra:old/cluster.ts
  infra:old/dns.ts
  infra:old/party.ts
  infra:old/relay.ts
  infra:old/secrets.ts
  infra:old/ssh.ts
  infra:old/stage.ts
  infra:old/storage.ts
  infra:old/vpc.ts
  packages/core/src:old/actor.ts
  packages/core/src:old/aws/client.ts
  packages/core/src:old/common.ts
  packages/core/src:old/database.ts
  packages/core/src:old/email/index.ts
  packages/core/src:old/error.ts
  packages/core/src:old/examples.ts
  packages/core/src:old/game/index.ts
  packages/core/src:old/instance/index.ts
  packages/core/src:old/machine/index.ts
  packages/core/src:old/profile/index.ts
  packages/core/src:old/session/index.ts
  packages/core/src:old/subscription/index.ts
  packages/core/src:old/task/index.ts
  packages/core/src:old/team/index.ts
  packages/core/src:old/types.ts
  packages/core/src:old/user/index.ts
  packages/core/src:old/utils/fn.ts
  packages/core/src:old/utils/id.ts
  packages/core/src:old/utils/index.ts
  packages/ui/src/fonts.tsx
Owners: @wanjohiryan, @dev-team, @victorpahuus, @AquaWolf

fix: Add the font-source for geist-sans
  apps/www/package.json
  packages/ui/src/fonts.tsx
Owners: @victorpahuus, @AquaWolf, @wanjohiryan

fix: Fix up the fonts
  apps/www/package.json
  packages/ui/src/fonts.tsx
Owners: @victorpahuus, @AquaWolf, @wanjohiryan

🐜 fix: Make sure the db uses the same name (#199)
  apps/www/package.json
  infra/database.ts
  infra:old/api.ts
  infra:old/auth.ts
  infra:old/cluster.ts
  infra:old/dns.ts
  infra:old/party.ts
  infra:old/relay.ts
  infra:old/secrets.ts
  infra:old/ssh.ts
  infra:old/stage.ts
  infra:old/storage.ts
  infra:old/vpc.ts
  packages/core/src:old/actor.ts
  packages/core/src:old/aws/client.ts
  packages/core/src:old/common.ts
  packages/core/src:old/database.ts
  packages/core/src:old/email/index.ts
  packages/core/src:old/error.ts
  packages/core/src:old/examples.ts
  packages/core/src:old/game/index.ts
  packages/core/src:old/instance/index.ts
  packages/core/src:old/machine/index.ts
  packages/core/src:old/profile/index.ts
  packages/core/src:old/session/index.ts
  packages/core/src:old/subscription/index.ts
  packages/core/src:old/task/index.ts
  packages/core/src:old/team/index.ts
  packages/core/src:old/types.ts
  packages/core/src:old/user/index.ts
  packages/core/src:old/utils/fn.ts
  packages/core/src:old/utils/id.ts
  packages/core/src:old/utils/index.ts
  packages/ui/src/fonts.tsx
Owners: @victorpahuus, @AquaWolf, @wanjohiryan, @dev-team

fix: Add some more stuff
  infra/api.ts
  infra/bus.ts
  infra/database.ts
Owners: @wanjohiryan

fix: Remove all fonts
  packages/ui/src/fonts.tsx
Owners: @wanjohiryan, @victorpahuus, @AquaWolf

fix: Use font-variables
  apps/www/package.json
  packages/ui/package.json
  packages/ui/src/fonts.tsx
Owners: @victorpahuus, @AquaWolf, @wanjohiryan

fix: Change versions
  apps/www/package.json
  packages/ui/package.json
Owners: @victorpahuus, @AquaWolf, @wanjohiryan

🐜 fix(infra): Share the same Neon project
  infra/database.ts
Owners: @wanjohiryan

🐜 fix: Remove old.sst.config.ts file
  old.sst.config.ts
Owners: @dev-team

🐜 fix(www): Error `Missing "./400.css" specifier in "@fontsource/geist-mono"` (#201)
  apps/www/package.json
  infra/api.ts
  infra/bus.ts
  packages/ui/package.json
Owners: @victorpahuus, @AquaWolf, @wanjohiryan

⭐ feat(www): Finish up on the onboarding
  packages/www/src/App.tsx
  packages/www/src/pages/new.tsx
Owners: @dev-team

fix: Fix the background colors a lil bit
  packages/www/src/App.tsx
  packages/www/src/pages/default-state.tsx
  packages/www/src/pages/new.tsx
  packages/www/src/providers/auth.tsx
  packages/www/src/ui/layout.tsx
  packages/www/src/ui/theme.ts
Owners: @dev-team

Add TLS flags, automatic NAT1-1 first fill, package updates
  containers/relay.Containerfile
  packages/relay/go.mod
  packages/relay/go.sum
  packages/relay/internal/common.go
  packages/relay/internal/flags.go
  packages/relay/internal/http.go
Owners: @DatCaptainHorse

⭐ feat(relay): Port muxing and TLS (#197)
  containers/relay.Containerfile
  packages/relay/go.mod
  packages/relay/go.sum
  packages/relay/internal/common.go
  packages/relay/internal/egress.go
  packages/relay/internal/flags.go
  packages/relay/internal/http.go
Owners: @DatCaptainHorse

fix: DB
  infra/database.ts
  packages/www/index.html
  packages/www/src/App.tsx
  packages/www/src/pages/new.tsx
  packages/www/src/ui/layout.tsx
  packages/www/src/ui/theme.ts
Owners: @wanjohiryan, @dev-team

🐜 fix(db): Fix database state issues
  infra/database.ts
  packages/core/drizzle.config.ts
  packages/core/src/drizzle/index.ts
Owners: @wanjohiryan

fix: Remove email.send
  packages/functions/src/auth.ts
Owners: @wanjohiryan

🐜 fix(db): Fix database state issues (#203)
  infra/database.ts
  packages/core/drizzle.config.ts
  packages/core/src/drizzle/index.ts
  packages/functions/src/auth.ts
Owners: @wanjohiryan

feat: Use the org account
  infra/database.ts
Owners: @wanjohiryan

🐜 fix(db): Migrate to Neon org account
  infra/database.ts
Owners: @wanjohiryan

format
  infra/bus.ts
  infra/www.ts
  packages/www/src/pages/new.tsx
Owners: @wanjohiryan, @dev-team

🐜 fix(db): Migrate to Neon org account (#204)
  infra/bus.ts
  infra/database.ts
  infra/www.ts
  packages/www/src/pages/new.tsx
Owners: @wanjohiryan, @dev-team

fix: Add Polar for creating a customer ID
  packages/core/src/examples.ts
  packages/core/src/polar.ts
  packages/core/src/polar/index.ts
  packages/core/src/polar/polar.sql.ts
  packages/core/src/team/index.ts
  packages/core/src/user/index.ts
Owners: @wanjohiryan

fix: Remove dead code
  packages/core/src/polar/index.ts
Owners: @wanjohiryan

feat: Add testing endpoint
  infra/api.ts
  packages/core/package.json
  packages/core/src/actor.ts
  packages/core/src/realtime/index.ts
  packages/functions/src/api/auth.ts
  packages/functions/src/api/index.ts
  packages/functions/src/api/machine.ts
  packages/functions/src/realtime/authorizer.ts
  packages/maitred/internal/realtime/realtime.go
Owners: @wanjohiryan, @dev-team

fix: Do some work
  packages/core/src/polar/polar.sql.ts
  packages/functions/src/api/account.ts
Owners: @wanjohiryan

some changes to the play route
  packages/www/src/pages/play.tsx
Owners: @dev-team

some wip with styles
  packages/www/src/pages/play.tsx
  packages/www/src/ui/theme.ts
Owners: @dev-team

feat: WIP
  packages/core/src/polar/index.ts
  packages/www/src/pages/new.tsx
Owners: @wanjohiryan, @dev-team

added new App changes and background for theme
  packages/www/src/App.tsx
  packages/www/src/ui/theme.ts
Owners: @dev-team
