Repository nestrilabs/nestri, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dev-team, @victorpahuus, @AquaWolf, @wanjohiryan, @DatCaptainHorse

.github/CODEOWNERS:

* @dev-team

/apps/ @victorpahuus @AquaWolf
/packages/ui/ @wanjohiryan @victorpahuus @AquaWolf

/protobuf/ @AquaWolf

/infra/ @wanjohiryan
/packages/core/ @wanjohiryan
/packages/functions/ @wanjohiryan

/containers/ @DatCaptainHorse
/packages/server/ @DatCaptainHorse
/packages/relay/ @DatCaptainHorse
/packages/scripts/ @DatCaptainHorse
/packages/input/ @DatCaptainHorse

fix: Fix up the project's name
  .github/workflows/www.yml
Owners: @dev-team

fix: Revert the directory
  .github/workflows/www.yml
Owners: @dev-team

🏇 ci(www): Test whether it is working (#215)
  .github/workflows/www.yml
Owners: @dev-team

🐜 fix(ci): Fix issue where main does not deploy to prod
  .github/workflows/www.yml
Owners: @dev-team

fix: Change the naming a lil bit
  .github/workflows/www.yml
Owners: @dev-team

fix: For posterity
  .github/workflows/www.yml
Owners: @dev-team

🐜 fix(ci): Fix issue where main does not deploy to prod (#216)
  .github/workflows/www.yml
Owners: @dev-team

🐜 fix(ci): Remove unnecessary code
  .github/workflows/www.yml
Owners: @dev-team

🏇🏾ci(docs): Deploy docs to cloudflare
  .github/workflows/docs.yml
Owners: @dev-team

fix: use a preset
  apps/docs/package.json
Owners: @victorpahuus, @AquaWolf

🏇🏾ci(docs): Deploy docs to cloudflare (#217)
  .github/workflows/docs.yml
  apps/docs/package.json
Owners: @dev-team, @victorpahuus, @AquaWolf

⭐feat(infra): Use a shared VPC
  infra/auth.ts
  infra/bus.ts
  infra/email.ts
  infra/postgres.ts
  infra/vpc.ts
  packages/core/drizzle.config.ts
  packages/core/src/drizzle/index.ts
  packages/functions/sst-env.d.ts
  sst-env.d.ts
  sst.config.ts
Owners: @wanjohiryan, @dev-team

⭐feat(infra): Use a shared VPC (#218)
  infra/auth.ts
  infra/bus.ts
  infra/email.ts
  infra/postgres.ts
  infra/vpc.ts
  packages/core/drizzle.config.ts
  packages/core/src/drizzle/index.ts
  packages/functions/sst-env.d.ts
  sst-env.d.ts
  sst.config.ts
Owners: @wanjohiryan, @dev-team

WIP Changes
  packages/relay/go.mod
  packages/relay/go.sum
  packages/relay/internal/common/common.go
  packages/relay/internal/common/crypto.go
  packages/relay/internal/common/flags.go
  packages/relay/internal/common/latency.go
  packages/relay/internal/common/loghandler.go
  packages/relay/internal/common/state.go
  packages/relay/internal/connections/datachannel.go
  packages/relay/internal/connections/messages.go
  packages/relay/internal/connections/messages_mesh.go
  packages/relay/internal/connections/websocket.go
  packages/relay/internal/egress.go
  packages/relay/internal/http.go
  packages/relay/internal/ingest.go
  packages/relay/internal/mesh.go
  packages/relay/internal/messages.go
  packages/relay/internal/participant.go
  packages/relay/internal/peer.go.txt
  packages/relay/internal/relay.go
  packages/relay/internal/room.go
  packages/relay/internal/state.go
  packages/relay/main.go
Owners: @DatCaptainHorse

🐜 fix(infra): Make sure all stages are in sync
  infra/email.ts
  packages/functions/sst-env.d.ts
  sst-env.d.ts
Owners: @wanjohiryan, @dev-team

🐜 fix(infra): Make sure all stages are in sync (#219)
  infra/email.ts
  packages/functions/sst-env.d.ts
  sst-env.d.ts
Owners: @wanjohiryan, @dev-team

🧹 chore: Use simpler language
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @dev-team

🧹 chore: Use simpler PR template (#220)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @dev-team

Update README.md
  README.md
Owners: @dev-team

fix(functions): Make sure everything is set up correctly
  infra/realtime.ts
  packages/core/migrations/0002_tiny_toad_men.sql
  packages/core/migrations/meta/0002_snapshot.json
  packages/core/migrations/meta/_journal.json
  packages/core/src/machine/index.ts
  packages/core/src/member/index.ts
Owners: @wanjohiryan

⭐ feat(www): Add logic to the homepage
  packages/www/src/App.tsx
  packages/www/src/pages/not-found.tsx
  packages/www/src/pages/team/header.tsx
  packages/www/src/pages/team/home.tsx
  packages/www/src/pages/team/index.tsx
Owners: @dev-team

Added prerender (route matching) to nuxt.config.ts
  apps/docs/nuxt.config.ts
Owners: @victorpahuus, @AquaWolf

Replaced prerender i nuxt.config.ts with --prerender parameter
  apps/docs/nuxt.config.ts
  apps/docs/package.json
Owners: @victorpahuus, @AquaWolf

Revert "Replaced prerender i nuxt.config.ts with --prerender parameter"
  apps/docs/nuxt.config.ts
  apps/docs/package.json
Owners: @victorpahuus, @AquaWolf

Revert "Added prerender (route matching) to nuxt.config.ts"
  apps/docs/nuxt.config.ts
Owners: @victorpahuus, @AquaWolf

Replaced the nuxtimg with img tag in Contributors.vue
  apps/docs/components/content/Contributors.vue
Owners: @victorpahuus, @AquaWolf

generate instead build
  .github/workflows/docs.yml
Owners: @dev-team

Rename image to see if build passes
  apps/docs/app.config.ts
  apps/docs/public/logo.png
Owners: @victorpahuus, @AquaWolf

Revert "Merge branch 'feat/readme' of https://github.com/nestrilabs/nestri into feat/readme"
  .github/workflows/docs.yml
Owners: @dev-team

Revert "Rename image to see if build passes"
  apps/docs/app.config.ts
  apps/docs/public/logo.webp
Owners: @victorpahuus, @AquaWolf

added svg logo
  apps/docs/app.config.ts
  apps/docs/public/logo.svg
Owners: @victorpahuus, @AquaWolf

Replace NuxtIMG with img
  apps/docs/app.config.ts
  apps/docs/components/layout/Header/Logo.vue
Owners: @victorpahuus, @AquaWolf

feat: Add friends list
  packages/www/src/pages/team/home.tsx
Owners: @dev-team

feat: Finish up with the library
  packages/www/src/pages/team/home.tsx
Owners: @dev-team

fix: Revert back to show changes
  packages/www/src/App.tsx
  packages/www/src/pages/new.tsx
  packages/www/src/pages/team/header.tsx
  packages/www/src/pages/team/index.tsx
Owners: @dev-team

changed documentation and moved some expert options to developer notes
  apps/docs/content/2.nestri-node/3.getting-started.md
  apps/docs/content/2.nestri-node/7.developer-notes.md
  apps/docs/content/3.nestri-relay/2.selfhosted-nestri-relay.md
Owners: @victorpahuus, @AquaWolf

feat: Add play btn
  packages/www/src/App.tsx
  packages/www/src/assets/portal/play_button_disabled_bg.png
  packages/www/src/assets/portal/play_button_focused_bg.png
  packages/www/src/assets/portal/play_button_idle.json
  packages/www/src/assets/portal/play_button_idle.png
  packages/www/src/assets/portal/play_button_intro.json
  packages/www/src/assets/portal/play_button_intro.png
  packages/www/src/assets/portal/play_icon_exit.json
  packages/www/src/assets/portal/play_icon_exit.png
  packages/www/src/assets/portal/play_icon_intro.json
  packages/www/src/assets/portal/play_icon_intro.png
  packages/www/src/assets/portal/play_icon_loop.json
  packages/www/src/assets/portal/play_icon_loop.png
  packages/www/src/assets/portal/portal_background_placeholder.png
  packages/www/src/common/portal/assets/play_button_idle.json
  packages/www/src/common/portal/assets/play_button_intro.json
  packages/www/src/common/portal/assets/play_icon_exit.json
  packages/www/src/common/portal/assets/play_icon_intro.json
  packages/www/src/common/portal/assets/play_icon_loop.json
  packages/www/src/common/portal/button.ts
  packages/www/src/common/portal/index.tsx
  packages/www/src/pages/team/header.tsx
  packages/www/src/pages/team/home.tsx
  packages/www/src/pages/team/index.tsx
Owners: @dev-team

feat: Make header change bg color
  packages/www/package.json
  packages/www/src/pages/team/header.tsx
  packages/www/src/pages/team/home.tsx
Owners: @dev-team

packages
  bun.lock
Owners: @dev-team

feat: Use process.spawn
  packages/steam/DBContext.cs
  packages/steam/DBSchema.cs
  packages/steam/Migrations/20250322023207_InitialCreate.Designer.cs
  packages/steam/Migrations/20250322023207_InitialCreate.cs
  packages/steam/Migrations/AppDbContextModelSnapshot.cs
  packages/steam/Program.cs
  packages/steam/Properties/launchSettings.json
  packages/steam/SSEEvents.cs
  packages/steam/SteamClient.cs
  packages/steam/SteamService.cs
  packages/steam/appsettings.Development.json
  packages/steam/appsettings.json
  packages/steam/index.ts
  packages/steam/package.json
  packages/steam/steam.csproj
  packages/steam/tsconfig.json
Owners: @dev-team
