Repository nestrilabs/nestri, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dev-team, @victorpahuus, @AquaWolf, @wanjohiryan, @DatCaptainHorse

.github/CODEOWNERS:

* @dev-team

/apps/ @victorpahuus @AquaWolf
/packages/ui/ @wanjohiryan @victorpahuus @AquaWolf

/protobuf/ @AquaWolf

/infra/ @wanjohiryan
/packages/core/ @wanjohiryan
/packages/functions/ @wanjohiryan

/containers/ @DatCaptainHorse
/packages/server/ @DatCaptainHorse
/packages/relay/ @DatCaptainHorse
/packages/scripts/ @DatCaptainHorse
/packages/input/ @DatCaptainHorse

feat: Add the full game
  packages/core/src/base-game/base-game.sql.ts
  packages/core/src/base-game/index.ts
  packages/core/src/category/index.ts
  packages/core/src/examples.ts
  packages/core/src/friend/index.ts
  packages/core/src/game-category/game-category.sql.ts
  packages/core/src/game-category/index.ts
  packages/core/src/game/game.sql.ts
  packages/core/src/game/index.ts
Owners: @wanjohiryan

feat: Add games to the zero schema
  packages/core/src/base-game/base-game.sql.ts
  packages/core/src/categories/categories.sql.ts
  packages/core/src/categories/index.ts
  packages/core/src/game/game.sql.ts
  packages/core/src/game/index.ts
  packages/zero/schema.ts
Owners: @wanjohiryan, @dev-team

feat: Add some more endpoints
  packages/core/src/actor.ts
  packages/core/src/examples.ts
  packages/core/src/friend/index.ts
  packages/core/src/game/index.ts
  packages/core/src/library/index.ts
  packages/core/src/library/library.sql.ts
  packages/core/src/member/index.ts
  packages/core/src/steam/steam.sql.ts
  packages/functions/src/api/game.ts
  packages/functions/src/api/index.ts
  packages/functions/src/api/utils/auth.ts
  packages/zero/schema.ts
Owners: @wanjohiryan, @dev-team

fix: Add some reviewed stuff
  packages/core/src/base-game/base-game.sql.ts
  packages/core/src/base-game/index.ts
  packages/core/src/categories/categories.sql.ts
  packages/core/src/categories/index.ts
  packages/core/src/examples.ts
  packages/core/src/friend/friend.sql.ts
  packages/core/src/friend/index.ts
  packages/core/src/game/game.sql.ts
  packages/core/src/game/index.ts
  packages/core/src/library/index.ts
  packages/core/src/library/library.sql.ts
  packages/core/src/steam/index.ts
  packages/core/src/team/index.ts
  packages/zero/schema.ts
Owners: @wanjohiryan, @dev-team

fix: Fix other stuff
  packages/core/src/categories/categories.sql.ts
  packages/core/src/friend/friend.sql.ts
  packages/core/src/game/game.sql.ts
  packages/core/src/game/index.ts
  packages/core/src/library/index.ts
  packages/core/src/library/library.sql.ts
  packages/core/src/member/index.ts
  packages/functions/src/api/friend.ts
  packages/functions/src/api/game.ts
  packages/functions/src/api/utils/auth.ts
  packages/zero/schema.ts
Owners: @wanjohiryan, @dev-team

⭐ feat: Add Games (#276)
  packages/core/src/actor.ts
  packages/core/src/base-game/base-game.sql.ts
  packages/core/src/base-game/index.ts
  packages/core/src/categories/categories.sql.ts
  packages/core/src/categories/index.ts
  packages/core/src/examples.ts
  packages/core/src/friend/friend.sql.ts
  packages/core/src/friend/index.ts
  packages/core/src/game/game.sql.ts
  packages/core/src/game/index.ts
  packages/core/src/library/index.ts
  packages/core/src/library/library.sql.ts
  packages/core/src/member/index.ts
  packages/core/src/steam/index.ts
  packages/core/src/steam/steam.sql.ts
  packages/core/src/team/index.ts
  packages/functions/src/api/friend.ts
  packages/functions/src/api/game.ts
  packages/functions/src/api/index.ts
  packages/functions/src/api/steam.ts
  packages/functions/src/api/utils/auth.ts
  packages/www/src/pages/new.tsx
  packages/zero/schema.ts
Owners: @wanjohiryan, @dev-team

🐜 fix(zero): Keep Steam ID consistent thru out
  packages/zero/schema.ts
Owners: @dev-team

⭐feat: Add images
  packages/core/src/examples.ts
  packages/core/src/game/index.ts
  packages/core/src/images/images.sql.ts
  packages/core/src/images/index.ts
  packages/core/src/library/index.ts
Owners: @wanjohiryan

fix: Add to the zero schema
  packages/core/src/game/index.ts
  packages/core/src/images/images.sql.ts
  packages/core/src/library/index.ts
  packages/core/src/library/library.sql.ts
  packages/zero/schema.ts
Owners: @wanjohiryan, @dev-team

fix: Do a db push
  packages/core/migrations/0011_simple_azazel.sql
  packages/core/migrations/meta/0011_snapshot.json
  packages/core/migrations/meta/_journal.json
  packages/core/src/game/game.sql.ts
  packages/zero/schema.ts
Owners: @wanjohiryan, @dev-team

fix: Finish review
  packages/core/src/game/game.sql.ts
  packages/core/src/images/index.ts
  packages/zero/schema.ts
Owners: @wanjohiryan, @dev-team

fix: Hopefully the last one
  packages/core/migrations/0012_glorious_jetstream.sql
  packages/core/migrations/meta/0012_snapshot.json
  packages/core/migrations/meta/_journal.json
  packages/core/src/library/index.ts
  packages/zero/schema.ts
Owners: @wanjohiryan, @dev-team

⭐feat: Implement Game Image Support with Metadata & Schema Updates (#277)
  packages/core/migrations/0011_simple_azazel.sql
  packages/core/migrations/0012_glorious_jetstream.sql
  packages/core/migrations/meta/0011_snapshot.json
  packages/core/migrations/meta/0012_snapshot.json
  packages/core/migrations/meta/_journal.json
  packages/core/src/examples.ts
  packages/core/src/game/game.sql.ts
  packages/core/src/game/index.ts
  packages/core/src/images/images.sql.ts
  packages/core/src/images/index.ts
  packages/core/src/library/index.ts
  packages/core/src/library/library.sql.ts
  packages/zero/schema.ts
Owners: @wanjohiryan, @dev-team

🐜 fix: Games should only be visible to logged in users
  packages/zero/schema.ts
Owners: @dev-team

🐜 fix(zero): Tidy up the schema
  packages/zero/schema.ts
Owners: @dev-team

🐜 fix(zero): Tidy up the schema
  packages/zero/schema.ts
Owners: @dev-team

🐜 fix(db): Make controller_support an enum
  packages/core/migrations/0013_neat_colleen_wing.sql
  packages/core/migrations/meta/0013_snapshot.json
  packages/core/migrations/meta/_journal.json
  packages/core/src/base-game/base-game.sql.ts
  packages/core/src/base-game/index.ts
  packages/core/src/examples.ts
  packages/zero/schema.ts
Owners: @wanjohiryan, @dev-team

🐜 fix(db): Make primary_genre nullable
  packages/core/migrations/0014_thin_groot.sql
  packages/core/migrations/meta/0014_snapshot.json
  packages/core/migrations/meta/_journal.json
  packages/core/src/base-game/base-game.sql.ts
  packages/core/src/base-game/index.ts
  packages/zero/schema.ts
Owners: @wanjohiryan, @dev-team

🐜 fix(db): Add partial controller_support
  packages/core/migrations/0015_handy_giant_man.sql
  packages/core/migrations/meta/0015_snapshot.json
  packages/core/migrations/meta/_journal.json
  packages/core/src/base-game/base-game.sql.ts
  packages/core/src/base-game/index.ts
  packages/zero/schema.ts
Owners: @wanjohiryan, @dev-team

⭐ feat: Add Steam library retrieval
  packages/core/src/client/index.ts
  packages/core/src/client/types.ts
Owners: @wanjohiryan

⭐ feat(core): Extract games and get the metadata
  bun.lock
  infra/api.ts
  infra/bus.ts
  infra/steam.ts
  packages/core/src/client/index.ts
  packages/core/src/client/types.ts
  packages/core/src/credentials/index.ts
  packages/core/src/game/index.ts
  packages/core/src/library/index.ts
  packages/core/src/team/index.ts
  packages/core/src/utils/helper.ts
  packages/core/src/utils/index.ts
  packages/functions/package.json
  packages/functions/src/api/realtime/index.ts
  packages/functions/src/api/steam.ts
  packages/functions/src/event/event.ts
  packages/functions/src/events/index.ts
  packages/functions/src/queues/library.ts
  sst-env.d.ts
Owners: @dev-team, @wanjohiryan

fix: Add some more
  packages/functions/src/api/steam.ts
Owners: @wanjohiryan

fix: Make it cleaner
  packages/core/src/client/index.ts
  packages/core/src/client/types.ts
  packages/core/src/client/utils.ts
Owners: @wanjohiryan

fix: Fix typescript
  packages/core/src/client/index.ts
  packages/core/src/client/types.ts
  packages/core/src/client/utils.ts
Owners: @wanjohiryan

fix: Add some more steam API stuff
  packages/core/src/client/index.ts
Owners: @wanjohiryan

fix: Add some more steam API stuff
  packages/core/src/client/index.ts
Owners: @wanjohiryan

feat: Add to user library
  packages/core/src/base-game/index.ts
  packages/core/src/categories/index.ts
  packages/core/src/client/index.ts
  packages/core/src/client/types.ts
  packages/core/src/client/utils.ts
  packages/core/src/game/index.ts
  packages/core/src/library/index.ts
  packages/core/src/library/library.sql.ts
  packages/functions/src/queues/library.ts
Owners: @wanjohiryan

feat: Migrate the db
  infra/bus.ts
  packages/core/migrations/0016_melted_johnny_storm.sql
  packages/core/migrations/meta/0016_snapshot.json
  packages/core/migrations/meta/_journal.json
  packages/core/src/base-game/index.ts
  packages/core/src/categories/index.ts
  packages/functions/src/events/index.ts
  packages/zero/schema.ts
Owners: @wanjohiryan, @dev-team

feat: Rename to backdrop
  packages/core/migrations/0017_zippy_nico_minoru.sql
  packages/core/migrations/meta/0017_snapshot.json
  packages/core/migrations/meta/_journal.json
  packages/core/src/examples.ts
  packages/core/src/images/images.sql.ts
  packages/core/src/images/index.ts
Owners: @wanjohiryan

fix: Put up a guard
  infra/bus.ts
  packages/core/migrations/0018_solid_enchantress.sql
  packages/core/migrations/meta/0018_snapshot.json
  packages/core/migrations/meta/_journal.json
  packages/core/src/client/index.ts
  packages/core/src/examples.ts
  packages/core/src/images/images.sql.ts
  packages/core/src/images/index.ts
  packages/functions/src/queues/library.ts
Owners: @wanjohiryan

feat: Add image retrieval
  bun.lock
  packages/core/package.json
  packages/core/src/client/index.ts
  packages/core/src/client/types.ts
  packages/core/src/client/utils.ts
  packages/core/src/images/images.sql.ts
  packages/functions/package.json
  packages/functions/src/events/index.ts
Owners: @dev-team, @wanjohiryan

fix: Use the images folder
  packages/functions/src/events/index.ts
Owners: @wanjohiryan

fix: Fix the reviews
  packages/core/src/base-game/index.ts
  packages/core/src/client/index.ts
  packages/core/src/client/types.ts
  packages/core/src/client/utils.ts
  packages/core/src/library/index.ts
  packages/core/src/utils/helper.ts
  packages/functions/src/api/steam.ts
  packages/functions/src/events/index.ts
  packages/functions/src/queues/library.ts
Owners: @wanjohiryan

fix: Fix the reviews
  packages/core/src/base-game/index.ts
  packages/functions/src/api/steam.ts
Owners: @wanjohiryan

fix: Fix the reviewed
  bun.lock
  packages/core/package.json
  packages/core/src/client/index.ts
  packages/core/src/client/types.ts
  packages/core/src/client/utils.ts
  packages/core/src/library/index.ts
  packages/functions/src/api/steam.ts
  packages/functions/src/queues/library.ts
Owners: @dev-team, @wanjohiryan

fix: Add error handling
  packages/functions/src/events/index.ts
Owners: @wanjohiryan

fix: Use a different algorithm
  bun.lock
  packages/core/package.json
  packages/core/src/client/index.ts
  packages/core/src/client/types.ts
  packages/core/src/client/utils.ts
  packages/functions/src/api/steam.ts
  packages/functions/src/events/index.ts
Owners: @dev-team, @wanjohiryan

fix: Use JPEG
  packages/core/src/client/index.ts
  packages/core/src/client/utils.ts
Owners: @wanjohiryan

fix: Use 100
  packages/core/src/client/utils.ts
Owners: @wanjohiryan

fix: Make the steam_credentials double pks
  bun.lock
  infra/bus.ts
  packages/core/migrations/0019_charming_namorita.sql
  packages/core/migrations/meta/0019_snapshot.json
  packages/core/migrations/meta/_journal.json
  packages/core/src/client/index.ts
  packages/core/src/credentials/credentials.sql.ts
  packages/core/src/credentials/index.ts
  packages/functions/src/api/steam.ts
  packages/www/src/pages/team/index.tsx
  packages/www/src/providers/zero.tsx
Owners: @dev-team, @wanjohiryan
