Repository nestrilabs/nestri, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dev-team, @victorpahuus, @AquaWolf, @wanjohiryan, @DatCaptainHorse

.github/CODEOWNERS:

* @dev-team

/apps/ @victorpahuus @AquaWolf
/packages/ui/ @wanjohiryan @victorpahuus @AquaWolf

/protobuf/ @AquaWolf

/infra/ @wanjohiryan
/packages/core/ @wanjohiryan
/packages/functions/ @wanjohiryan

/containers/ @DatCaptainHorse
/packages/server/ @DatCaptainHorse
/packages/relay/ @DatCaptainHorse
/packages/scripts/ @DatCaptainHorse
/packages/input/ @DatCaptainHorse

fix: Add some more routes
  packages/functions/src/api/account.ts
  packages/functions/src/api/index.ts
  packages/functions/src/api/machine.ts
  packages/functions/src/api/steam.ts
  packages/www/src/providers/account.tsx
Owners: @wanjohiryan, @dev-team

feat: Add relations for Zero
  bun.lock
  packages/core/package.json
  packages/core/src/drizzle/transaction.ts
  packages/core/src/relations/relations.sql.ts
Owners: @dev-team, @wanjohiryan

fix: Fix user inconsistencies
  packages/core/src/friend/index.ts
  packages/core/src/user/index.ts
Owners: @wanjohiryan

fix: Attempt to fix discriminator issues
  packages/core/src/user/index.ts
  packages/core/src/user/user.sql.ts
  packages/functions/src/api/game.ts
  packages/functions/src/api/steam.ts
Owners: @wanjohiryan

fix: Add some more stuff
  bun.lock
  infra/api.ts
  infra/auth.ts
  infra/zero.ts
  packages/core/src/steam/index.ts
  packages/core/src/user/index.ts
  packages/core/src/utils/encrypt.ts
  packages/core/src/utils/index.ts
  packages/functions/package.json
  packages/functions/src/api/account.ts
  packages/functions/src/api/realtime/chat.ts
  packages/functions/src/api/realtime/index.ts
  packages/functions/src/api/realtime/steam.ts
  packages/functions/src/api/steam.ts
  packages/functions/src/auth.ts
  packages/functions/sst-env.d.ts
  packages/www/src/providers/account.tsx
  sst-env.d.ts
Owners: @dev-team, @wanjohiryan

fix: Aaah! Fuck Windows
  .vscode/settings.json
Owners: @dev-team

fix: Fix some annoying stuff
  infra/api.ts
  infra/auth.ts
  infra/secret.ts
  packages/core/src/user/index.ts
  packages/functions/package.json
  packages/functions/src/api/polar.ts
  packages/functions/src/api/steam.ts
Owners: @wanjohiryan

feat: Add encryption
  packages/core/src/steam/index.ts
  packages/core/src/user/index.ts
  packages/core/src/utils/encrypt.ts
Owners: @wanjohiryan

feat: Add Steam actor
  packages/core/src/actor.ts
  packages/core/src/examples.ts
  packages/core/src/friend/index.ts
  packages/core/src/steam/index.ts
  packages/functions/src/api/auth.ts
  packages/functions/src/api/friend.ts
  packages/functions/src/api/steam.ts
Owners: @wanjohiryan

fix: On some realization, we cannot have a steamID header
  packages/functions/src/api/auth.ts
  packages/functions/src/api/steam.ts
Owners: @wanjohiryan

fix: Add some more
  packages/core/migrations/0010_regular_harrier.sql
  packages/core/migrations/0011_greedy_rage.sql
  packages/core/migrations/meta/0010_snapshot.json
  packages/core/migrations/meta/0011_snapshot.json
  packages/core/migrations/meta/_journal.json
  packages/core/src/drizzle/types.ts
  packages/core/src/steam/steam.sql.ts
Owners: @wanjohiryan

fix: Change up the user and dbs
  packages/core/src/dbs.ts
  packages/core/src/examples.ts
  packages/core/src/user/index.ts
  packages/core/src/user/user.sql.ts
  packages/core/src/utils/id.ts
Owners: @wanjohiryan

fix: Change up the auth.ts function
  packages/core/src/examples.ts
  packages/core/src/user/index.ts
  packages/core/src/user/user.sql.ts
  packages/functions/src/auth.ts
  packages/functions/src/utils.ts
Owners: @wanjohiryan

feat: Add team
  packages/core/src/machine/machine.sql.ts
  packages/core/src/team/index.ts
  packages/core/src/team/team.sql.ts
  packages/core/src/user/index.ts
  packages/core/src/user/user.sql.ts
Owners: @wanjohiryan

fix: Use userID
  packages/core/src/examples.ts
  packages/core/src/member/index.ts
  packages/core/src/member/member.sql.ts
  packages/core/src/user/index.ts
  packages/core/src/user/user.sql.ts
  packages/functions/src/auth.ts
Owners: @wanjohiryan

fix: Add an invite code
  packages/core/src/member/index.ts
  packages/core/src/team/index.ts
  packages/core/src/team/team.sql.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/invite-code.ts
Owners: @wanjohiryan

fix: Change wording
  packages/core/src/member/index.ts
  packages/core/src/team/index.ts
  packages/core/src/user/index.ts
Owners: @wanjohiryan

fix: Add something
  packages/core/src/member/index.ts
  packages/functions/src/auth.ts
Owners: @wanjohiryan

fix: Fix the account route
  packages/core/src/examples.ts
  packages/core/src/member/member.sql.ts
  packages/core/src/steam/index.ts
  packages/core/src/steam/steam.sql.ts
  packages/core/src/team/index.ts
  packages/core/src/user/index.ts
  packages/functions/src/api/account.ts
Owners: @wanjohiryan

fix: Fix teams API
  packages/core/src/member/index.ts
  packages/core/src/team/index.ts
  packages/functions/src/api/team.ts
Owners: @wanjohiryan

fix: Add stuff
  packages/core/src/actor.ts
  packages/core/src/context.ts
  packages/core/src/event.ts
  packages/core/src/examples.ts
  packages/core/src/friend/friend.sql.txt
  packages/core/src/game/game.sql.txt
  packages/core/src/library/library.sql.txt
  packages/core/src/machine/machine.sql.ts
  packages/core/src/member/index.ts
  packages/core/src/polar/index.ts
  packages/core/src/realtime/index.ts
  packages/core/src/subscription/index.ts
  packages/core/src/subscription/subscription.sql.txt
  packages/core/src/team/index.ts
  packages/core/src/user/index.ts
  packages/core/src/utils/log.ts
  packages/functions/src/api/auth.ts
  packages/functions/src/api/index.ts
  packages/functions/src/api/polar.ts
  packages/functions/src/api/steam.ts
  packages/functions/src/api/team.ts
  packages/functions/src/auth.ts
  packages/functions/src/event/event.ts
  packages/functions/src/log-polyfill.ts
Owners: @wanjohiryan

feat: Test this first
  packages/core/migrations/0012_fantastic_enchantress.sql
  packages/core/migrations/meta/0012_snapshot.json
  packages/core/migrations/meta/_journal.json
  packages/core/src/drizzle/transaction.ts
  packages/core/src/relations/relations.sql.txt
  packages/core/src/steam/index.ts
  packages/core/src/team/index.ts
  packages/functions/src/api/account.ts
  packages/functions/src/api/index.ts
  packages/functions/src/api/steam.ts
  packages/www/src/providers/account.tsx
Owners: @wanjohiryan, @dev-team

feat: Add email
  bun.lock
  packages/core/src/actor.ts
  packages/core/src/steam/index.ts
  packages/functions/Containerfile
  packages/functions/src/api/steam.ts
  packages/mail/.gitignore
  packages/mail/README.md
  packages/mail/package.json
  packages/mail/templates/email.tsx
  packages/mail/tsconfig.json
Owners: @dev-team, @wanjohiryan

fix: Add the better looking cousin
  bun.lock
  packages/email/emails/notion-magic-link.tsx
  packages/email/emails/plaid-verify-identity.tsx
  packages/email/emails/static/notion-logo.png
  packages/email/emails/static/plaid-logo.png
  packages/email/emails/static/plaid.png
  packages/email/emails/static/stripe-logo.png
  packages/email/emails/static/vercel-arrow.png
  packages/email/emails/static/vercel-logo.png
  packages/email/emails/static/vercel-team.png
  packages/email/emails/static/vercel-user.png
  packages/email/emails/stripe-welcome.tsx
  packages/email/emails/vercel-invite-user.tsx
  packages/email/package.json
  packages/email/readme.md
  packages/email/tsconfig.json
  packages/mail/.gitignore
  packages/mail/README.md
  packages/mail/package.json
  packages/mail/templates/email.tsx
  packages/mail/tsconfig.json
Owners: @dev-team

fix: Add some symlinks
  packages/email/tsconfig.json
  packages/www/public/email
Owners: @dev-team

fix: Add email
  bun.lock
  packages/email/emails/tailwind.config.ts
  packages/email/emails/templates/notion-magic-link.tsx
  packages/email/emails/templates/plaid-verify-identity.tsx
  packages/email/emails/templates/static/notion-logo.png
  packages/email/emails/templates/static/plaid-logo.png
  packages/email/emails/templates/static/plaid.png
  packages/email/emails/templates/static/stripe-logo.png
  packages/email/emails/templates/static/vercel-arrow.png
  packages/email/emails/templates/static/vercel-logo.png
  packages/email/emails/templates/static/vercel-team.png
  packages/email/emails/templates/static/vercel-user.png
  packages/email/emails/templates/stripe-welcome.tsx
  packages/email/emails/templates/vercel-invite-user.tsx
  packages/email/emails/templates/welcome.tsx
  packages/email/package.json
  packages/email/tsconfig.json
  packages/www/public/email
Owners: @dev-team

feat: Add a new page onboarding
  infra/zero.ts
  packages/core/src/polar/index.ts
  packages/core/src/team/team.sql.ts
  packages/email/sst-env.d.ts
  packages/functions/src/zero.ts
  packages/www/src/pages/new.tsx
  packages/zero/package.json
  packages/zero/permissions.sql
Owners: @wanjohiryan, @dev-team

feat: Add error stuff for login
  packages/core/src/examples.ts
  packages/core/src/member/member.sql.ts
  packages/core/src/team/index.ts
  packages/core/src/team/team.sql.ts
  packages/core/src/user/index.ts
  packages/functions/src/api/team.ts
  packages/www/src/pages/new.tsx
Owners: @wanjohiryan, @dev-team

fix: Add some stuff
  infra/steam.ts
  packages/core/src/examples.ts
  packages/core/src/steam/index.ts
  packages/core/src/steam/steam.sql.ts
  packages/functions/src/api/auth.ts
  packages/functions/src/api/steam.ts
  packages/functions/src/event/event.ts
  packages/functions/src/queue/games.ts
  packages/functions/tsconfig.json
Owners: @wanjohiryan

fix: Fix rabbit review
  packages/core/src/examples.ts
  packages/core/src/member/index.ts
  packages/core/src/member/member.sql.ts
  packages/core/src/steam/index.ts
  packages/core/src/steam/steam.sql.ts
  packages/core/src/team/index.ts
  packages/core/src/team/team.sql.ts
  packages/functions/src/api/auth.ts
  packages/functions/src/api/steam.ts
  packages/functions/tsconfig.json
Owners: @wanjohiryan

feat: Add main user profile
  packages/core/package.json
  packages/core/src/actor.ts
  packages/core/src/examples.ts
  packages/core/src/steam/client.ts
  packages/core/src/steam/index.ts
  packages/core/src/team/index.ts
  packages/core/src/user/index.ts
  packages/core/src/user/user.sql.ts
  packages/functions/src/api/steam.ts
  packages/functions/src/auth.ts
  packages/functions/src/event/event.ts
  packages/functions/src/ui/adapters/password.ts
  packages/functions/src/ui/password.tsx
  packages/functions/src/utils.ts
Owners: @wanjohiryan

fix: Remove name
  packages/core/src/examples.ts
  packages/core/src/user/index.ts
  packages/core/src/user/user.sql.ts
  packages/functions/src/api/steam.ts
  packages/functions/src/auth.ts
  packages/functions/src/utils.ts
Owners: @wanjohiryan

fix: Fix up the game table
  packages/core/src/actor.ts
  packages/core/src/examples.ts
  packages/core/src/friend/friend.sql.ts
  packages/core/src/friend/index.ts
  packages/core/src/game/game.sql.ts
  packages/core/src/team/index.ts
  packages/core/src/team/team.sql.ts
  packages/core/src/utils/machine-name.ts
  packages/functions/src/api/steam.ts
  packages/functions/src/event/event.ts
Owners: @wanjohiryan

fix: Add account info, Steam info
  packages/core/src/account/index.ts
  packages/core/src/examples.ts
  packages/core/src/friend/friend.sql.ts
  packages/core/src/friend/index.ts
  packages/core/src/steam/client.ts
  packages/core/src/steam/credentials.ts
  packages/core/src/steam/index.ts
  packages/core/src/steam/steam.sql.ts
  packages/functions/src/api/account.ts
  packages/functions/src/api/friend.ts
  packages/functions/src/api/index.ts
Owners: @wanjohiryan

fix: Add some change typing
  packages/core/src/member/index.ts
  packages/core/src/member/member.sql.ts
Owners: @wanjohiryan

fix: Use a name for the user, let the email be the index
  packages/core/src/account/index.ts
  packages/core/src/examples.ts
  packages/core/src/steam/index.ts
  packages/core/src/team/index.ts
  packages/core/src/user/index.ts
  packages/core/src/user/user.sql.ts
  packages/functions/src/api/account.ts
  packages/functions/src/api/team.ts
  packages/functions/src/auth.ts
  packages/functions/src/ui/adapters/password.ts
  packages/functions/src/ui/password.tsx
  packages/functions/src/utils.ts
Owners: @wanjohiryan

feat: Add Steam username as team username
  packages/core/src/examples.ts
  packages/core/src/steam/index.ts
  packages/core/src/steam/steam.sql.ts
  packages/core/src/team/index.ts
  packages/core/src/team/team.sql.ts
  packages/functions/src/api/team.ts
Owners: @wanjohiryan

feat: Add Steam username as team username
  packages/core/src/steam/index.ts
  packages/core/src/steam/steam.sql.ts
Owners: @wanjohiryan

feat: Add unique constraints on team
  packages/core/src/member/member.sql.ts
  packages/core/src/team/team.sql.ts
Owners: @wanjohiryan

fix: wip
  bun.lock
  package.json
  packages/functions/src/ui/adapters/password.ts
  patches/steam-session@1.9.3.patch
Owners: @dev-team, @wanjohiryan
