Repository nestrilabs/nestri, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dev-team, @victorpahuus, @AquaWolf, @wanjohiryan, @DatCaptainHorse

.github/CODEOWNERS:

* @dev-team

/apps/ @victorpahuus @AquaWolf
/packages/ui/ @wanjohiryan @victorpahuus @AquaWolf

/protobuf/ @AquaWolf

/infra/ @wanjohiryan
/packages/core/ @wanjohiryan
/packages/functions/ @wanjohiryan

/containers/ @DatCaptainHorse
/packages/server/ @DatCaptainHorse
/packages/relay/ @DatCaptainHorse
/packages/scripts/ @DatCaptainHorse
/packages/input/ @DatCaptainHorse

⭐ feat: Change the pricing
  bun.lock
  packages/ui/src/react/title-section.tsx
Owners: @dev-team, @wanjohiryan, @victorpahuus, @AquaWolf

fix: WIP
  apps/www/src/routes/(public)/pricing/index.tsx
Owners: @victorpahuus, @AquaWolf

feat: Use Nestri Mobile
  bun.lock
  packages/core/src/steam/credentials.ts
  packages/functions/src/api/steam.ts
  patches/steam-session@1.9.3.patch
Owners: @dev-team, @wanjohiryan

fix: Fix the naming
  packages/core/src/steam/credentials.ts
  packages/core/src/steam/index.ts
  packages/functions/src/event/event.ts
Owners: @wanjohiryan

fix: Stiff
  bun.lock
  packages/core/src/steam/credentials.ts
  packages/core/src/steam/steam.sql.ts
Owners: @dev-team, @wanjohiryan

fx
  .vscode/settings.json
  packages/core/tsconfig.json
  packages/functions/tsconfig.json
  tsconfig.json
Owners: @dev-team, @wanjohiryan

fix: Make sure we do not have any references to removed files
  infra/postgres.ts
  infra/zero.ts
Owners: @wanjohiryan

fix: remove common
  packages/functions/src/api/utils/common.ts
Owners: @wanjohiryan

fix: Consolidate duplicate patch-logger
  packages/functions/src/api/index.ts
  packages/functions/src/auth/index.ts
  packages/functions/src/auth/utils/index.ts
  packages/functions/src/auth/utils/patch-logger.ts
  packages/functions/src/utils/patch-logger.ts
Owners: @wanjohiryan

fix: Remove ts suppressors
  packages/functions/src/api/utils/validator.ts
Owners: @wanjohiryan

fix: Fix the bun issue
  packages/functions/package.json
Owners: @wanjohiryan

fix: Fix the validator
  packages/functions/src/api/utils/validator.ts
Owners: @wanjohiryan

🧹 chore: Refactor and add a new account type
  infra/api.ts
  infra/auth.ts
  infra/secret.ts
  packages/core/src/account/index.ts
  packages/core/src/actor.ts
  packages/core/src/common.ts
  packages/core/src/context.ts
  packages/core/src/drizzle/index.ts
  packages/core/src/event.ts
  packages/core/src/examples.ts
  packages/core/src/machine/index.ts
  packages/core/src/machine/machine.sql.ts
  packages/core/src/member/index.ts
  packages/core/src/member/member.sql.ts
  packages/core/src/polar/index.ts
  packages/core/src/realtime/index.ts
  packages/core/src/steam/index.ts
  packages/core/src/steam/steam.sql.ts
  packages/core/src/subscription/index.ts
  packages/core/src/subscription/subscription.sql.ts
  packages/core/src/task/task.sql.todo
  packages/core/src/team/index.ts
  packages/core/src/team/team.sql.ts
  packages/core/src/user/index.ts
  packages/core/src/user/user.sql.ts
  packages/core/src/utils/id.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/invite.ts
  packages/core/src/utils/log.ts
  packages/functions/src/api/account.ts
  packages/functions/src/api/index.ts
  packages/functions/src/api/utils/auth.ts
  packages/functions/src/api/utils/index.ts
  packages/functions/src/auth/index.ts
  packages/functions/src/auth/utils/discord.ts
  packages/functions/src/auth/utils/github.ts
  packages/functions/src/subjects.ts
  packages/functions/src/utils/patch-logger.ts
Owners: @wanjohiryan

fix: Fix reviews suggested by coderabbit
  infra/api.ts
  infra/auth.ts
  packages/core/src/account/index.ts
  packages/core/src/drizzle/transaction.ts
  packages/core/src/examples.ts
  packages/core/src/member/index.ts
  packages/core/src/member/member.sql.ts
  packages/core/src/steam/index.ts
  packages/core/src/steam/steam.sql.ts
  packages/core/src/team/index.ts
  packages/core/src/utils/log.ts
  packages/functions/src/auth/index.ts
Owners: @wanjohiryan

fix: Fix review the code
  packages/core/src/steam/index.ts
Owners: @wanjohiryan

⭐ feat: New account system with improved team management (#273)
  infra/api.ts
  infra/auth.ts
  infra/secret.ts
  packages/core/src/account/index.ts
  packages/core/src/actor.ts
  packages/core/src/common.ts
  packages/core/src/context.ts
  packages/core/src/drizzle/index.ts
  packages/core/src/drizzle/transaction.ts
  packages/core/src/event.ts
  packages/core/src/examples.ts
  packages/core/src/machine/index.ts
  packages/core/src/machine/machine.sql.ts
  packages/core/src/member/index.ts
  packages/core/src/member/member.sql.ts
  packages/core/src/polar/index.ts
  packages/core/src/realtime/index.ts
  packages/core/src/steam/index.ts
  packages/core/src/steam/steam.sql.ts
  packages/core/src/subscription/index.ts
  packages/core/src/subscription/subscription.sql.ts
  packages/core/src/task/task.sql.todo
  packages/core/src/team/index.ts
  packages/core/src/team/team.sql.ts
  packages/core/src/user/index.ts
  packages/core/src/user/user.sql.ts
  packages/core/src/utils/id.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/invite.ts
  packages/core/src/utils/log.ts
  packages/functions/src/api/account.ts
  packages/functions/src/api/index.ts
  packages/functions/src/api/utils/auth.ts
  packages/functions/src/api/utils/index.ts
  packages/functions/src/auth/index.ts
  packages/functions/src/auth/utils/discord.ts
  packages/functions/src/auth/utils/github.ts
  packages/functions/src/subjects.ts
  packages/functions/src/utils/patch-logger.ts
Owners: @wanjohiryan

feat: Add credentials
  packages/core/package.json
  packages/core/src/credentials/credentials.sql.ts
  packages/core/src/credentials/index.ts
  packages/core/src/drizzle/types.ts
  packages/core/src/steam/steam.sql.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/token.ts
Owners: @wanjohiryan

fix: Improve the encryption algorithm
  packages/core/src/utils/token.ts
Owners: @wanjohiryan

feat: Use versions
  bun.lock
  packages/core/src/drizzle/types.ts
  packages/ui/package.json
  sst-env.d.ts
Owners: @dev-team, @wanjohiryan, @victorpahuus, @AquaWolf

feat: Remove old Steam, add new Steam
  bun.lock
  docker-compose.yml
  nestri.sln
  package.json
  packages/core/package.json
  packages/functions/package.json
  packages/steam/.gitignore
  packages/steam/HttpClientFactory.cs
  packages/steam/MachineInfo.cs
  packages/steam/Program.cs
  packages/steam/Properties/launchSettings.json
  packages/steam/SteamAuthService.cs
  packages/steam/appsettings.Development.json
  packages/steam/appsettings.json
  packages/steam/index.ts
  packages/steam/package.json
  packages/steam/sst-env.d.ts
  packages/steam/steam.csproj
  packages/steam/steam.http
  packages/steam/terminal.ts
  packages/steam/tsconfig.json
  patches/steam-session@1.9.3.patch
Owners: @dev-team, @wanjohiryan

feat: Add friends, add user to db
  bun.lock
  packages/core/src/actor.ts
  packages/core/src/credentials/index.ts
  packages/core/src/examples.ts
  packages/core/src/friend/friend.sql.ts
  packages/core/src/friend/index.ts
  packages/core/src/steam/index.ts
  packages/core/src/steam/steam.sql.ts
  packages/core/src/user/index.ts
  packages/functions/package.json
  packages/functions/src/api/steam.ts
  packages/functions/src/event/event.ts
Owners: @dev-team, @wanjohiryan

feat: I forgot what this is about
  packages/core/src/credentials/index.ts
  packages/core/src/steam/index.ts
  packages/core/src/steam/steam.sql.ts
  packages/functions/src/api/steam.ts
  packages/functions/src/event/event.ts
Owners: @wanjohiryan

fix: Stuf
  packages/core/src/steam/index.ts
  packages/www/src/pages/new.tsx
  packages/www/src/providers/account.tsx
  packages/www/src/ui/custom-qr.tsx
  ssttmp/LICENSE
  ssttmp/README.md
Owners: @wanjohiryan, @dev-team

feat: Migrate
  packages/core/migrations/0010_certain_dust.sql
  packages/core/migrations/meta/0010_snapshot.json
  packages/core/migrations/meta/_journal.json
  packages/core/src/credentials/index.ts
  packages/core/src/friend/friend.sql.ts
  packages/core/src/steam/steam.sql.ts
  packages/core/src/utils/id.ts
Owners: @wanjohiryan

😅 I am done with that part
  infra/postgres.ts
  packages/core/src/steam/index.ts
  packages/functions/src/api/index.ts
  packages/functions/src/api/steam.ts
  packages/functions/src/auth/index.ts
  packages/functions/sst-env.d.ts
  packages/www/src/App.tsx
  packages/www/src/pages/new.tsx
  sst-env.d.ts
Owners: @wanjohiryan, @dev-team

fix: Remove unwanted component in main
  packages/www/src/pages/team/home.tsx
Owners: @dev-team

fix: Remove unnecessary files
  ssttmp/LICENSE
  ssttmp/README.md
Owners: @dev-team

fix: Add review by coderabbit
  packages/core/src/friend/index.ts
  packages/core/src/steam/index.ts
  packages/functions/src/api/steam.ts
  packages/functions/src/event/event.ts
  packages/www/src/pages/new.tsx
Owners: @wanjohiryan, @dev-team

🐜 fix: Typo in the Steam login page
  packages/www/src/pages/new.tsx
Owners: @dev-team

⭐ feat: Update zero-sync to current db schemas
  bun.lock
  infra/zero.ts
  package.json
  packages/zero/package.json
  packages/zero/permissions.sql
  packages/zero/schema.ts
Owners: @dev-team, @wanjohiryan

fix: Remove unnecessary sql files
  infra/zero.ts
  packages/zero/.gitignore
  packages/zero/.permissions.sql
  packages/zero/package.json
  packages/zero/permissions.sql
Owners: @wanjohiryan, @dev-team

fix: Fix the reviews by rabbit and fix steam_id in steam_accounts
  bun.lock
  package.json
  packages/zero/schema.ts
Owners: @dev-team

fix: Add timestamps to user
  packages/zero/schema.ts
Owners: @dev-team

fix: perfectionist
  packages/zero/schema.ts
Owners: @dev-team

⭐ feat: Expand zero-sync schema with users, teams, and Steam integration (#275)
  bun.lock
  infra/zero.ts
  package.json
  packages/zero/.gitignore
  packages/zero/.permissions.sql
  packages/zero/package.json
  packages/zero/schema.ts
Owners: @dev-team, @wanjohiryan

🐜 fix: Fix user relations in zero-sync schema
  packages/zero/schema.ts
Owners: @dev-team

⭐ feat: Make sure friends can see their friends
  packages/zero/schema.ts
Owners: @dev-team

⭐ feat: Add more api endpoints
  packages/functions/src/api/friend.ts
  packages/functions/src/api/index.ts
  packages/functions/src/api/steam.ts
Owners: @wanjohiryan

⭐ feat: Add Games
  packages/core/src/category/category.sql.ts
  packages/core/src/category/index.ts
  packages/core/src/examples.ts
  packages/core/src/friend/index.ts
  packages/core/src/game/game.sql.ts
  packages/core/src/game/index.ts
  packages/core/src/steam/index.ts
  packages/functions/src/api/steam.ts
  packages/www/src/pages/new.tsx
Owners: @wanjohiryan, @dev-team

fix: Move GC to its own namespace
  packages/core/src/category/category.sql.ts
  packages/core/src/category/index.ts
  packages/core/src/game-category/game-category.sql.ts
  packages/core/src/game-category/index.ts
Owners: @wanjohiryan
