Repository nestrilabs/nestri, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dev-team, @victorpahuus, @AquaWolf, @wanjohiryan, @DatCaptainHorse

.github/CODEOWNERS:

* @dev-team

/apps/ @victorpahuus @AquaWolf
/packages/ui/ @wanjohiryan @victorpahuus @AquaWolf

/protobuf/ @AquaWolf

/infra/ @wanjohiryan
/packages/core/ @wanjohiryan
/packages/functions/ @wanjohiryan

/containers/ @DatCaptainHorse
/packages/server/ @DatCaptainHorse
/packages/relay/ @DatCaptainHorse
/packages/scripts/ @DatCaptainHorse
/packages/input/ @DatCaptainHorse

fix: Migrate to Tailwind v4
  apps/console/.astro/content-assets.mjs
  apps/console/.astro/content-modules.mjs
  apps/console/.astro/content.d.ts
  apps/console/.astro/data-store.json
  apps/console/.astro/types.d.ts
  packages/ui/src/testing.astro
  packages/www/astro.config.mjs
  packages/www/package.json
  packages/www/src/components/Welcome.astro
  packages/www/src/layouts/Layout.astro
  packages/www/src/pages/new.astro
  packages/www/src/styles/global.css
  packages/www/tailwind.config.js
Owners: @victorpahuus, @AquaWolf, @wanjohiryan, @dev-team

feat: WIP
  packages/functions/sst-env.d.ts
  packages/www/src/pages/new.astro
  sst-env.d.ts
Owners: @wanjohiryan, @dev-team

feat: Move
  infra/www.ts
  infra:old/api.ts
  infra:old/auth.ts
  infra:old/cluster.ts
  infra:old/dns.ts
  infra:old/party.ts
  infra:old/relay.ts
  infra:old/secrets.ts
  infra:old/ssh.ts
  infra:old/stage.ts
  infra:old/storage.ts
  infra:old/vpc.ts
  sst.config.ts
Owners: @wanjohiryan, @dev-team

feat: Add api and authentication
  .gitignore
  infra/api.ts
  infra/dns.ts
  infra/email.ts
  infra/secret.ts
  packages/functions/package.json
  packages/functions/src/api/index.ts
  packages/functions/src/auth.ts
  packages/functions/src/ui/adapters/oauth2.tsx
  packages/functions/src/ui/adapters/password.ts
  packages/functions/sst-env.d.ts
  sst-env.d.ts
  sst.config.ts
Owners: @dev-team, @wanjohiryan

NVIDIA driver workaround
  containers/runner.Containerfile
  packages/scripts/entrypoint.sh
  packages/scripts/entrypoint_nestri.sh
Owners: @DatCaptainHorse

fix: Add console
  infra/www.ts
  packages/functions/src/subjects.ts
Owners: @wanjohiryan

Update README.md
  README.md
Owners: @dev-team

one - in the architecture overview was wrong
  README.md
Owners: @dev-team

Update README.md
  README.md
Owners: @dev-team

Update README.md
  README.md
Owners: @dev-team

Update README.md
  README.md
Owners: @dev-team

Update README.md
  README.md
Owners: @dev-team

Sponsor section
  README.md
Owners: @dev-team

Update README.md
  README.md
Owners: @dev-team

Architecture mermaid diagram
  README.md
Owners: @dev-team

Update README.md
  README.md
Owners: @dev-team

feat: Add database
  .env.example
  infra/database.ts
  sst.config.ts
Owners: @dev-team, @wanjohiryan

I wonder why this is not working
  packages/core/drizzle.config.ts
  packages/core/migrations/0000_wise_black_widow.sql
  packages/core/migrations/meta/0000_snapshot.json
  packages/core/migrations/meta/_journal.json
  packages/core/package.json
  packages/core/src/drizzle/index.ts
  packages/core/src/member/member.sql.ts
  packages/core/src/user/user.sql.ts
Owners: @wanjohiryan

fix: Finally fixed the neon connection
  packages/core/drizzle.config.ts
  packages/core/package.json
  packages/core/src/drizzle/index.ts
  packages/core/src/drizzle/transaction.ts
  packages/scripts/src/psql.ts
Owners: @wanjohiryan, @DatCaptainHorse

fix: Remove instant db completely
  packages/core/instant.perms.ts
  packages/core/instant.schema.ts
  packages/core/src/polar.ts
  packages/functions/src/event/event.ts
  packages/functions/sst-env.d.ts
  sst-env.d.ts
Owners: @wanjohiryan, @dev-team

feat: This works
  infra/api.ts
  infra/www.ts
  packages/core/package.json
  packages/core/src/drizzle/index.ts
  packages/core/src/drizzle/transaction.ts
  packages/core/src/user/index.ts
  packages/functions/src/api/auth.ts
  packages/functions/src/api/index.ts
  packages/functions/src/auth.ts
  packages/functions/src/utils.ts
  packages/functions/sst-env.d.ts
  packages/www/package.json
  packages/www/src/layouts/Layout.astro
  packages/www/src/pages/index.astro
  sst-env.d.ts
Owners: @wanjohiryan, @dev-team

feat: Add mail
  packages/mail/.gitignore
  packages/mail/README.md
  packages/mail/email/templates/invite-email.tsx
  packages/mail/email/templates/static/logo.png
  packages/mail/package.json
  packages/mail/tsconfig.json
Owners: @dev-team

feat: Add stuff
  packages/core/package.json
  packages/core/src/email/index.ts
  packages/core/src/user/index.ts
  packages/functions/src/auth.ts
  packages/functions/src/event/event.ts
  packages/mail/.gitignore
  packages/mail/README.md
  packages/mail/email/templates/invite-email.tsx
  packages/mail/email/templates/static/logo.png
  packages/mail/package.json
  packages/mail/tsconfig.json
  packages/www/src/pages/auth/callback.astro
  packages/www/src/pages/index.astro
Owners: @wanjohiryan, @dev-team

pre-remove astro
  packages/core/migrations/0001_flaky_tomorrow_man.sql
  packages/core/migrations/meta/0001_snapshot.json
  packages/core/migrations/meta/_journal.json
  packages/core/src/user/index.ts
  packages/core/src/user/user.sql.ts
  packages/www/astro.config.mjs
  packages/www/auth/callback.astro
  packages/www/src/components/console.tsx
  packages/www/src/layouts/base.astro
  packages/www/src/pages/auth/callback.astro
  packages/www/src/pages/index.astro
  packages/www/src/pages/new.astro
Owners: @wanjohiryan, @dev-team

new design system
  infra/www.ts
  packages/functions/sst-env.d.ts
  packages/web/.gitignore
  packages/web/README.md
  packages/web/index.html
  packages/web/package.json
  packages/web/src/App.tsx
  packages/web/src/assets/fonts/Geist.ttf
  packages/web/src/assets/fonts/GeistMono.ttf
  packages/web/src/assets/fonts/MonaSansVF-Regular.ttf
  packages/web/src/assets/fonts/MonaSansVF-Regular.woff
  packages/web/src/assets/fonts/MonaSansVF-Regular.woff2
  packages/web/src/assets/seo/android-chrome-192x192.png
  packages/web/src/assets/seo/android-chrome-512x512.png
  packages/web/src/assets/seo/apple-touch-icon.png
  packages/web/src/assets/seo/banner.png
  packages/web/src/assets/seo/browserconfig.xml
  packages/web/src/assets/seo/code.avif
  packages/web/src/assets/seo/favicon-16x16.png
  packages/web/src/assets/seo/favicon-32x32.png
  packages/web/src/assets/seo/favicon.ico
  packages/web/src/assets/seo/image.png
  packages/web/src/assets/seo/mstile-150x150.png
  packages/web/src/assets/seo/safari-pinned-tab.svg
  packages/web/src/assets/seo/site.webmanifest
  packages/web/src/index.tsx
  packages/web/src/providers/account.tsx
  packages/web/src/ui/theme.ts
  packages/web/tsconfig.json
  packages/web/vite.config.ts
  packages/www/package.json
  packages/www/src/layouts/base.astro
  sst-env.d.ts
Owners: @wanjohiryan, @dev-team

some adjustments to the readme
  README.md
Owners: @dev-team

updated docs and readme
  README.md
  apps/docs/content/2.nestri-node/2.prerequisite.md
  apps/docs/content/2.nestri-node/6.node-faq.md
Owners: @dev-team, @victorpahuus, @AquaWolf

removed double emoji
  README.md
Owners: @dev-team

feat: Add teams, and members
  packages/core/src/actor.ts
  packages/core/src/examples.ts
  packages/core/src/member/index.ts
  packages/core/src/member/member.sql.ts
  packages/core/src/team/index.ts
  packages/core/src/user/index.ts
  packages/core/src/user/user.sql.ts
  packages/core/src/utils/id.ts
  packages/functions/src/api/account.ts
  packages/functions/src/api/game.ts
  packages/functions/src/api/index.ts
  packages/functions/src/api/machine.ts
  packages/functions/src/api/session.ts
  packages/functions/src/api/subscription.ts
  packages/functions/src/api/task.ts
  packages/functions/src/api/team.ts
  packages/functions/src/api/user.ts
  packages/functions/src/auth.ts
  packages/functions/sst-env.d.ts
  packages/web/package.json
  packages/web/src/App.tsx
  packages/web/src/common/context.tsx
  packages/web/src/pages/new.tsx
  packages/web/src/providers/account.tsx
  packages/web/src/providers/auth.tsx
  packages/web/src/ui/theme.ts
  packages/web/sst-env.d.ts
  packages/www/src/layouts/base.astro
  sst-env.d.ts
Owners: @wanjohiryan, @dev-team

feat: Authentication flow is done
  packages/functions/src/api/account.ts
  packages/www/src/App.tsx
  packages/www/src/providers/auth.tsx
  packages/www/src/sst-env.d.ts
Owners: @wanjohiryan, @dev-team

fix(www): Fix the colors
  packages/www/index.html
  packages/www/src/App.tsx
Owners: @dev-team

Hopefully better image handling, move va packages to image
  containers/runner.Containerfile
  packages/scripts/entrypoint.sh
  packages/scripts/entrypoint_nestri.sh
  packages/scripts/envs.sh
Owners: @DatCaptainHorse

Add ubuntu cloud-init script
  cloud/ubuntu-cloud-init.yaml
Owners: @dev-team

feat: It ain't me
  packages/www/index.html
  packages/www/src/App.tsx
  packages/www/src/pages/default-state.tsx
  packages/www/src/pages/new.tsx
  packages/www/src/ui/layout.tsx
  packages/www/src/ui/text.tsx
  packages/www/src/ui/theme.ts
  packages/www/src/ui/utility.tsx
  packages/www/tsconfig.json
  packages/www/vite.config.ts
Owners: @dev-team

fix: Finish up
  packages/www/src/pages/new.tsx
  packages/www/src/ui/text.tsx
Owners: @dev-team

fix: Add missing modules
  apps/www/package.json
Owners: @victorpahuus, @AquaWolf

🐜 fix(runner): Workarounds for NVIDIA drivers (#188)
  containers/runner.Containerfile
  packages/scripts/entrypoint.sh
  packages/scripts/entrypoint_nestri.sh
  packages/scripts/envs.sh
Owners: @DatCaptainHorse

Update to Rust 2024 and improvements
  packages/server/Cargo.lock
  packages/server/Cargo.toml
  packages/server/src/args/encoding_args.rs
  packages/server/src/enc_helper.rs
  packages/server/src/main.rs
  packages/server/src/nestrisink/imp.rs
  packages/server/src/nestrisink/mod.rs
  packages/server/src/proto.rs
  packages/server/src/proto/proto.rs
  packages/server/src/websocket.rs
Owners: @DatCaptainHorse

Add proper relay port muxing, fixes improvements
  containers/relay.Containerfile
  packages/relay/go.mod
  packages/relay/go.sum
  packages/relay/internal/common.go
  packages/relay/internal/egress.go
  packages/relay/internal/flags.go
Owners: @DatCaptainHorse

ci: Make sure the runner CI runs when 'nestri-server' changes
  .github/workflows/runner.yml
Owners: @dev-team
