Repository nestrilabs/nestri, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dev-team, @victorpahuus, @AquaWolf, @wanjohiryan, @DatCaptainHorse

.github/CODEOWNERS:

* @dev-team

/apps/ @victorpahuus @AquaWolf
/packages/ui/ @wanjohiryan @victorpahuus @AquaWolf

/protobuf/ @AquaWolf

/infra/ @wanjohiryan
/packages/core/ @wanjohiryan
/packages/functions/ @wanjohiryan

/containers/ @DatCaptainHorse
/packages/server/ @DatCaptainHorse
/packages/relay/ @DatCaptainHorse
/packages/scripts/ @DatCaptainHorse
/packages/input/ @DatCaptainHorse

fix: Colors
  packages/www/src/App.tsx
  packages/www/src/index.tsx
  packages/www/src/pages/play.tsx
  packages/www/src/pages/test.tsx
Owners: @dev-team

fix: Have a root component
  packages/www/src/App.tsx
  packages/www/src/pages/play.tsx
  packages/www/src/ui/root.tsx
Owners: @dev-team

fix: Portal mount
  packages/www/src/App.tsx
  packages/www/src/pages/play.tsx
  packages/www/src/ui/root.tsx
Owners: @dev-team

added modal with correct styling. Open: need to wire the modals correctly and have the welcome modal
  packages/www/src/pages/play.tsx
Owners: @dev-team

feat: Create a /new form
  packages/www/package.json
  packages/www/src/App.tsx
  packages/www/src/pages/new.tsx
  packages/www/src/providers/auth.ts
  packages/www/src/ui/form.tsx
  packages/www/src/ui/text.tsx
  packages/www/src/ui/theme.ts
Owners: @dev-team

feat: Bring everything together
  packages/www/src/pages/new.tsx
  packages/www/src/ui/button.ts
  packages/www/src/ui/form.tsx
  packages/www/src/ui/index.ts
  packages/www/src/ui/theme.ts
Owners: @dev-team

fix: Use absolutes
  packages/www/src/pages/new.tsx
Owners: @dev-team

fix: Fix styling on smaller screens
  packages/www/src/pages/new.tsx
  packages/www/src/ui/button.ts
  packages/www/src/ui/form.tsx
Owners: @dev-team

⭐ feat(www): Finish up on the onboarding (#202)
  packages/core/src/examples.ts
  packages/core/src/polar.ts
  packages/core/src/polar/index.ts
  packages/core/src/polar/polar.sql.ts
  packages/core/src/team/index.ts
  packages/core/src/user/index.ts
  packages/functions/src/api/account.ts
  packages/www/index.html
  packages/www/package.json
  packages/www/src/App.tsx
  packages/www/src/pages/default-state.tsx
  packages/www/src/pages/new.tsx
  packages/www/src/providers/auth.ts
  packages/www/src/ui/button.ts
  packages/www/src/ui/form.tsx
  packages/www/src/ui/index.ts
  packages/www/src/ui/layout.tsx
  packages/www/src/ui/text.tsx
  packages/www/src/ui/theme.ts
Owners: @wanjohiryan, @dev-team

fix: What is happening with Vscode? Fuck!
  .vscode/settings.json
  packages/functions/src/api/account.ts
  packages/functions/src/api/steam.ts
  packages/functions/src/api/team.ts
  packages/functions/tsconfig.json
  packages/www/src/App.tsx
Owners: @dev-team, @wanjohiryan

Progress commit
  containers/maitred.Containerfile
  packages/core/src/realtime/index.ts
  packages/functions/src/api/machine.ts
  packages/functions/src/api/messages.ts
  packages/maitred/go.mod
  packages/maitred/go.sum
  packages/maitred/internal/auth/auth.go
  packages/maitred/internal/containers/containers.go
  packages/maitred/internal/containers/docker.go
  packages/maitred/internal/containers/managed.go
  packages/maitred/internal/machine/id.go
  packages/maitred/internal/machine/utils.go
  packages/maitred/internal/messages/messages.go
  packages/maitred/internal/realtime/logger.go
  packages/maitred/internal/realtime/realtime.go
  packages/maitred/internal/realtime/utils.go
  packages/maitred/internal/resource/resource.go
  packages/maitred/internal/system/gpu.go
  packages/maitred/internal/system/gpu_intel.go
  packages/maitred/internal/system/gpu_intel_i915.go
  packages/maitred/internal/system/gpu_intel_xe.go
  packages/maitred/internal/system/gpu_nvidia.go
  packages/maitred/internal/system/resources.go
  packages/maitred/main.go
Owners: @DatCaptainHorse, @wanjohiryan, @dev-team

feat: Add steam stuff
  packages/steam/Program.cs
  packages/steam/bin/Debug/net8.0/QRCoder.dll
  packages/steam/bin/Debug/net8.0/System.IO.Hashing.dll
  packages/steam/bin/Debug/net8.0/protobuf-net.Core.dll
  packages/steam/bin/Debug/net8.0/protobuf-net.dll
  packages/steam/bin/Debug/net8.0/steam
  packages/steam/bin/Debug/net8.0/steam.deps.json
  packages/steam/bin/Debug/net8.0/steam.dll
  packages/steam/bin/Debug/net8.0/steam.pdb
  packages/steam/bin/Debug/net8.0/steam.runtimeconfig.json
  packages/steam/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
  packages/steam/obj/Debug/net8.0/apphost
  packages/steam/obj/Debug/net8.0/ref/steam.dll
  packages/steam/obj/Debug/net8.0/refint/steam.dll
  packages/steam/obj/Debug/net8.0/steam.AssemblyInfo.cs
  packages/steam/obj/Debug/net8.0/steam.AssemblyInfoInputs.cache
  packages/steam/obj/Debug/net8.0/steam.GeneratedMSBuildEditorConfig.editorconfig
  packages/steam/obj/Debug/net8.0/steam.GlobalUsings.g.cs
  packages/steam/obj/Debug/net8.0/steam.assets.cache
  packages/steam/obj/Debug/net8.0/steam.csproj.AssemblyReference.cache
  packages/steam/obj/Debug/net8.0/steam.csproj.CopyComplete
  packages/steam/obj/Debug/net8.0/steam.csproj.CoreCompileInputs.cache
  packages/steam/obj/Debug/net8.0/steam.csproj.FileListAbsolute.txt
  packages/steam/obj/Debug/net8.0/steam.dll
  packages/steam/obj/Debug/net8.0/steam.genruntimeconfig.cache
  packages/steam/obj/Debug/net8.0/steam.pdb
  packages/steam/obj/project.assets.json
  packages/steam/obj/project.nuget.cache
  packages/steam/obj/steam.csproj.nuget.dgspec.json
  packages/steam/obj/steam.csproj.nuget.g.props
  packages/steam/obj/steam.csproj.nuget.g.targets
  packages/steam/steam.csproj
  packages/steam/steam.sln
Owners: @dev-team

fix: Error stuff
  bun.lock
  packages/functions/src/api/account.ts
Owners: @dev-team, @wanjohiryan

fix: Do some cleanup
  packages/functions/src/api/account.ts
  packages/functions/src/api/index.ts
Owners: @wanjohiryan

extracted modal component + showing modal on enter and mouspointer loss
  packages/www/src/components/Modal.tsx
  packages/www/src/pages/play.tsx
Owners: @dev-team

Flags, logging and moving of things
  packages/functions/src/api/machine.ts
  packages/functions/src/api/messages.ts
  packages/maitred/internal/containers/containers.go
  packages/maitred/internal/containers/docker.go
  packages/maitred/internal/containers/managed.go
  packages/maitred/internal/flags.go
  packages/maitred/internal/handler.go
  packages/maitred/internal/realtime/managed.go
  packages/maitred/internal/realtime/messages.go
  packages/maitred/internal/realtime/realtime.go
  packages/maitred/internal/system/gpu.go
  packages/maitred/internal/system/gpu_intel.go
  packages/maitred/internal/system/gpu_nvidia.go
  packages/maitred/internal/system/id.go
  packages/maitred/internal/system/resources.go
  packages/maitred/main.go
Owners: @wanjohiryan, @dev-team

fuuuck!
  bun.lock
  infra/api.ts
  infra/auth.ts
  infra/www.ts
  package.json
  packages/core/package.json
  packages/functions/package.json
  packages/www/package.json
  packages/www/src/App.tsx
  packages/www/src/providers/auth.ts
Owners: @dev-team, @wanjohiryan

🧹 chore(www): Update the onboarding
  bun.lock
  package.json
  packages/www/src/App.tsx
  packages/www/src/pages/new.tsx
  packages/www/src/ui/form.tsx
Owners: @dev-team

🧹 chore(www): Update the onboarding (#207)
  bun.lock
  package.json
  packages/www/src/App.tsx
  packages/www/src/pages/new.tsx
  packages/www/src/ui/form.tsx
Owners: @dev-team

🐜 fix: Fix dynamodb errors when trying to authenticate
  bun.lock
  packages/core/package.json
  packages/functions/package.json
  packages/www/package.json
  packages/www/src/App.tsx
Owners: @dev-team, @wanjohiryan

fix: Remove user select option
  packages/www/src/ui/form.tsx
Owners: @dev-team

🐜 fix: Fix dynamodb errors when trying to authenticate (#208)
  bun.lock
  packages/core/package.json
  packages/functions/package.json
  packages/www/package.json
  packages/www/src/App.tsx
  packages/www/src/ui/form.tsx
Owners: @dev-team, @wanjohiryan

⭐ feat(www): Finish up on the onboarding
  bun.lock
  packages/www/package.json
  packages/www/src/App.tsx
  packages/www/src/pages/new.tsx
  packages/www/src/ui/button.ts
  packages/www/src/ui/form.tsx
Owners: @dev-team

Maitred progress, relay mesh networking initial work
  packages/maitred/internal/containers/containers.go
  packages/maitred/internal/containers/docker.go
  packages/maitred/internal/realtime/managed.go
  packages/relay/go.mod
  packages/relay/go.sum
  packages/relay/internal/common.go
  packages/relay/internal/datachannel.go
  packages/relay/internal/egress.go
  packages/relay/internal/flags.go
  packages/relay/internal/handler.go
  packages/relay/internal/http.go
  packages/relay/internal/ingest.go
  packages/relay/internal/mesh.go
  packages/relay/internal/messages.go
  packages/relay/internal/participant.go
  packages/relay/internal/relay.go
  packages/relay/internal/room.go
  packages/relay/internal/state.go
  packages/relay/internal/websocket.go
  packages/relay/main.go
Owners: @dev-team, @DatCaptainHorse

fix(www): Add the colors
  packages/www/index.html
  packages/www/src/App.tsx
  packages/www/src/pages/new.tsx
  packages/www/src/pages/team/home.tsx
  packages/www/src/pages/team/index.tsx
  packages/www/src/ui/form.tsx
Owners: @dev-team

feat: Add header
  packages/www/src/pages/team/header.tsx
  packages/www/src/pages/team/home.tsx
Owners: @dev-team

fix: Fix some inconsistencies
  infra/auth.ts
  infra/bus.ts
  infra/zero.ts
  packages/core/drizzle.config.ts
  packages/core/src/drizzle/index.ts
Owners: @wanjohiryan

feat: Use SST tunnel, the DX is much better
  infra/api.ts
  infra/auth.ts
  infra/bus.ts
  infra/postgres.ts
  infra/vpc.ts
  infra/zero.ts
  packages/core/drizzle.config.ts
  packages/core/src/drizzle/index.ts
  packages/core/src/drizzle/transaction.ts
  packages/functions/src/migrator.ts
  packages/functions/sst-env.d.ts
  packages/www/src/App.tsx
  sst-env.d.ts
Owners: @wanjohiryan, @dev-team

fix: Fix authentication issues
  bun.lock
  packages/www/package.json
  packages/www/src/App.tsx
  packages/www/src/providers/account.tsx
  packages/www/src/providers/auth.ts
Owners: @dev-team

feat: Add some more stuff
  .vscode/settings.json
  infra/auth.ts
  infra/www.ts
  packages/core/src/error.ts
  packages/core/src/member/index.ts
  packages/core/src/team/index.ts
  packages/functions/src/api/account.ts
  packages/functions/src/api/auth.ts
  packages/functions/src/api/common.ts
  packages/functions/src/api/hook.ts
  packages/functions/src/api/index.ts
  packages/functions/src/api/team.ts
  packages/functions/src/common.ts
  packages/functions/src/error.ts
  packages/www/src/pages/new.tsx
  packages/www/src/sst-env.d.ts
Owners: @dev-team, @wanjohiryan

fix: Use a global openauthjs fixes oauth errors
  apps/www/package.json
  bun.lock
  infra/auth.ts
  package.json
  packages/core/package.json
  packages/functions/package.json
  packages/functions/src/auth2.ts
  packages/www/package.json
Owners: @victorpahuus, @AquaWolf, @dev-team, @wanjohiryan

feat: Create a team is done
  bun.lock
  packages/core/migrations/0001_nifty_sauron.sql
  packages/core/migrations/meta/0001_snapshot.json
  packages/core/migrations/meta/_journal.json
  packages/core/package.json
  packages/core/src/member/index.ts
  packages/core/src/team/index.ts
  packages/core/src/team/team.sql.ts
  packages/core/src/user/index.ts
  packages/functions/src/api/team.ts
  packages/www/src/App.tsx
  packages/www/src/pages/new.tsx
Owners: @dev-team, @wanjohiryan

merge
  package.json
  packages/core/package.json
  packages/core/src/examples.ts
  packages/core/src/polar.ts
  packages/core/src/polar/index.ts
  packages/core/src/polar/polar.sql.ts
  packages/core/src/team/index.ts
  packages/core/src/user/index.ts
  packages/functions/package.json
  packages/functions/src/api/account.ts
  packages/server/Cargo.lock
  packages/www/index.html
  packages/www/package.json
  packages/www/src/App.tsx
  packages/www/src/pages/default-state.tsx
  packages/www/src/pages/new.tsx
  packages/www/src/providers/auth.ts
  packages/www/src/ui/button.ts
  packages/www/src/ui/form.tsx
  packages/www/src/ui/index.ts
  packages/www/src/ui/layout.tsx
  packages/www/src/ui/text.tsx
  packages/www/src/ui/theme.ts
Owners: @dev-team, @wanjohiryan, @DatCaptainHorse

fix: Add some more
  bun.lock
  infra/postgres.ts
  infra/www.ts
  infra/zero.ts
  packages/core/src/member/index.ts
  packages/core/src/team/index.ts
  packages/functions/package.json
  packages/functions/src/api/index.ts
  packages/functions/src/api/team.ts
  packages/functions/src/zero.ts
  packages/functions/sst-env.d.ts
  packages/www/package.json
  packages/www/src/pages/new.tsx
  packages/www/src/pages/team/index.tsx
  packages/www/src/providers/api.tsx
  packages/www/src/providers/context.tsx
  packages/www/src/providers/zero.tsx
  packages/zero/.permissions.sql
  packages/zero/package.json
  packages/zero/schema.ts
  sst-env.d.ts
Owners: @dev-team, @wanjohiryan

feat: Logo header
  packages/www/src/pages/not-found.tsx
  packages/www/src/pages/team/header.tsx
  packages/www/src/pages/team/home.tsx
  packages/www/src/pages/team/index.tsx
  packages/www/src/ui/avatar.tsx
  packages/www/src/ui/form.tsx
Owners: @dev-team

fix(zero): Make sure 'sub' field is available
  packages/core/src/team/index.ts
  packages/functions/src/auth.ts
  packages/functions/src/auth2.ts
Owners: @wanjohiryan

feat: Add an avatar
  packages/www/src/App.tsx
  packages/www/src/common/context.tsx
  packages/www/src/pages/not-found.tsx
  packages/www/src/pages/team/header.tsx
  packages/www/src/pages/team/index.tsx
  packages/www/src/providers/account.tsx
Owners: @dev-team

feat: Add subroutes
  packages/www/src/pages/team/header.tsx
Owners: @dev-team

fix: Make sure the avatar fits
  packages/www/src/pages/team/header.tsx
Owners: @dev-team

fix: Final iteration of the buttons
  packages/www/src/pages/team/header.tsx
Owners: @dev-team
